<ion-header no-border no-lines no-shadow>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ข่าวสาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <ion-card class="card" *ngFor="let item of items">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center col-4>
          <img [src]="item['image'][0]">
        </ion-col>
        <ion-col align-self-center col-8>
          <ion-label text-wrap class="head-text">{{item['topic']}}</ion-label>
          <ion-label text-wrap class="desc-text">{{item['detail_short']}}</ion-label>
        </ion-col>
      </ion-row>
      <div class="foot-div" text-right (click)="DETAIL_CLICK(item)">
        เพิ่มเติม >>  <ion-icon name="arrow-dropright-circle"></ion-icon>
      </div>
    </ion-grid>
  </ion-card>
</ion-content>
