<ion-header no-border no-lines no-shadow>

  <ion-navbar>
    <ion-title>ชำระเงิน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <div class="box-details">
  <ion-item class="transparent">
    <ion-label floating>Card Holder Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="transparent">
    <ion-label floating>Card Number</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col col-6>
      <ion-item class="transparent">
        <ion-label floating>Exp MM/YYYY</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-6>
        <ion-item class="transparent">
          <ion-label floating>CVV</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
  </ion-row>
  <br>
</div>
</ion-content>

<ion-footer>
  <button ion-button full class="footer-button">ยืนยัน</button>
</ion-footer>
