page-main-menu-purchase-credit-card {
    .bg-color {
        background-color: #E0DEE1;
    }
    .transparent {
        background-color: transparent;
    }
    .footer-button {
      // background-color: #f58240;
      background-color: #231f20;
    }
}
