page-main-menu-contact {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .toolbar-button {
    font-size: 2.4rem;
    margin: 0;
    padding: 0 6px;
    text-align: start;
    font-weight: normal;
  }
  // Modal
  ion-modal, .show-page {
    background-color: rgba(0,0,0, .5) !important;
    padding: 50px !important;
  }
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }
  ion-list {
    background-color:transparent;
  }
  .item-md {
    // Override ion item color
    background-color: transparent;
  }
  // Accordion
  .item-accordion {
    line-height: 38;
    padding-top: 0;
    padding-bottom: 0;
    // transition: 9s all linear;
    animation: fadeInDown 0.5s;
  }
  .item-accordion-hide {
    line-height: 0;
  }
  .item-accordion.hide-add,
  .item-accordion.hide-remove {
    display: block !important;
  }

  .contact-list {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    margin-bottom: 5px;
  }
}

ion-modal.inset-modal-select {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 28vh 10vw; // 30vh
  // height: auto;
}
