<!---
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ติดต่อ</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg-color">
  <ion-list>
    <ion-list-header>ONLINE</ion-list-header>
    <ion-item no-lines *ngFor="let contact of contacts_online" (click)="GOTOCHATPAGE_CLICK (contact)">
      <ion-avatar item-start>
        <img [src]="contact.image">
      </ion-avatar>
      <h2>{{contact.fullname}}</h2>


    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>OFFLINE</ion-list-header>
    <ion-item no-lines *ngFor="let contact of contacts_offline" (click)="GOTOCHATPAGE_CLICK (contact)">
      <ion-avatar item-start>
        <img [src]="contact.image">
      </ion-avatar>
      <h2>{{contact.fullname}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
-->
<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><a style="font-family: 'Kanit', sans-serif; color: white;">ติดต่อ</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <ion-list no-lines>
    <div class="contact-list" *ngFor="let contact_info of contacts_list; let i = index">
      <ion-item (click)="toggleGroup(i)" style="color: white;">
        {{contact_info['department']}}
      </ion-item>
      <ng-container *ngIf="contact_info['show'] == true">
        <ion-item *ngFor="let contact of contact_info['contact_list']" class="item-accordion" (click)="GOTOCHATPAGE_CLICK (contact)">
          <ion-avatar item-start>
            <img [src]="contact.image">
          </ion-avatar>
          <h2 style="color: white;">{{contact.fullname}}</h2>
        </ion-item>
      </ng-container>
    </div>
  </ion-list>
  
  <!--
  <ion-label>Debug</ion-label>
  <ion-list>
    <ion-item *ngFor="let contact of contacts_debug" (click)="GOTOCHATPAGE_CLICK (contact)">
      <ion-label>{{contact['fullname']}}</ion-label>
    </ion-item>
  </ion-list>
  

  <ion-label>Debug Customer Preorder</ion-label>
  <ion-list>
    <ion-item *ngFor="let contact of contacts_debug" (click)="GOTOCHATPAGE_CLICK (contact)">
      <ion-label>{{contact['fullname']}}</ion-label>
    </ion-item>
  </ion-list>

  -->
</ion-content>
