<ion-header no-border no-lines no-shadow>
  <ion-navbar>
    <ion-title>ช่องทางการชำระเงิน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">

  <ion-label style="font-size: 18px; color: #fff;">กรุณาเลือกช่องทางการชำระเงิน</ion-label>
  <div class="box-details">
  <ion-list radio-group [(ngModel)]="radioSelected">
    <!--
    <ion-item>
      <ion-radio item-left value=0></ion-radio>
      <ion-label>โอนเงินผ่านธนาคาร</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio item-left value=1></ion-radio>
      <ion-label>Credit Card</ion-label>
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Visa.svg">
    </ion-item>
    <ion-item>
      <ion-label>111</ion-label>
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Visa.svg">
    </ion-item>
    -->
    <div>
      <ion-item no-lines>
      <ion-radio item-left value=0></ion-radio>
      <ion-label>โอนเงินผ่านธนาคาร</ion-label>
    </ion-item>
    </div>
    <!--
    <div>
      <ion-item no-lines>
        <ion-radio item-left value=1></ion-radio>
        <ion-label>Credit Card</ion-label>
      </ion-item>
    </div>
    -->
  </ion-list>
</div>
</ion-content>

<!--
<ion-footer>
  <button ion-button full class="footer-button" (click)="NEXT_CLICK()">ต่อไป</button>
</ion-footer>
-->
<ion-footer no-border no-lines no-shadow (click)="NEXT_CLICK()">
  <ion-toolbar color="dark">
    <ion-title text-center>
      <ion-icon name="checkmark-circle"></ion-icon>
      ต่อไป
    </ion-title>
  </ion-toolbar>
</ion-footer>