page-main-menu-purchase {
    .bg-color {
      background-color: color($colors, gray_background, base);
    }
    .footer-button {
      // background-color: #f58240;
      background-color: #231f20;
    }
    .img {
      height: 30px;
      width: 60px;
      padding: 0px;
      border: 1px solid black;
    }
}
