page-main-menu-profile-credit-card-add {
    .bg-color {
        background-color: #E0DEE1;
    }
    .transparent {
        background-color: transparent;
    }
    .footer-button {
      // background-color: #f58240;
      background-color: #f7901f;
    }
}
