page-main-menu-chat-select {
  .modal-radius {
    border-radius: 18px;
  }
  .text {
    color: grey;
    margin-bottom: 0px;
  }
  .name-text {
    // color: #f58240;
    // color #f7901f;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  .profile-image {
    display: block;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(245, 130, 64, 0.7);
  }
  .button {
    // background: #f58240;
    background: black;
    color: white;
  }
  .bt-header {
    background-color: transparent;
    color: black;
    font-size: 2.4rem;
      margin: 0;
      padding: 0 6px;
      text-align: start;
      font-weight: normal;
  }
}
