<ion-header no-border no-lines no-shadow>
  <ion-grid>
    <ion-buttons left>
      <button ion-button clear class="bt-header" (click)="DISMISS_CLICK()">
        <ion-icon name="close-circle" class="ic-header"></ion-icon>
      </button>
    </ion-buttons>
  </ion-grid>
</ion-header>

<ion-content class="modal-radius bg">
  <ion-row>
    <img class="profile-image" [src]="chat_info['image']">
  </ion-row>
  <ion-row>
    <ion-label class="name-text">{{chat_info['fullname']}}</ion-label>
  </ion-row>
  <!--
  <ion-row>
    <ion-col col-6 align-items-center>
      <button ion-button block (click)="GO_TO_CHAT_CLICK()">
        Chat
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button block (click)="GO_TO_CALL_CLICK()">
        Call
      </button>
    </ion-col>
  </ion-row>
  -->
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button full class="footer-button" (click)="GO_TO_CHAT_CLICK ()">Chat</button>
      </ion-col>
      <ion-col>
        <button ion-button full class="footer-button" (click)="GO_TO_CALL_CLICK ()">Call</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
