page-main-menu-profile-order-history {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .transparent {
    background-color: transparent;
  }
  

  .image-product {
    //width: 100px;
    // height: 100px;
    max-width: 150px;
    width: 100%;
    max-height: 100px;
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 6px;
  }
  .icon-col {
    // color: #f58240;
    color: #f7901f;
    max-width: 150px;
    width: 80%;
    max-height: 100px;
    height: auto;
  }
  .icon-col-col {
    display: flex;
    justify-content: center;
  }
  .icon-col-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .arrow-color {
    // color: #f58240;
    color: #f7901f;
  }

  ion-segment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    background: #231f20;

    ion-segment-button.segment-button.segment-activated {
      border-color: white !important;
    }
  }
}
.foot-div{
  color: #fff;
  padding: 9px;
  background: #231f20;
  border-radius: 0 0 9px 9px;
}
.head-div{
  background: #fff;
  border-radius: 9px 9px 0 0;
  padding: 9px;
}