<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><a style="font-family: 'Kanit', sans-serif; color: white;">เลือกผู้ติดต่อ</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <ion-list no-lines>
    <div class="contact-list" *ngFor="let contact_info of contact_list; let i = index" (click)="CHAT_CLICK(contact_info)">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="contact_info.image">
          </ion-avatar>
          <h2 style="color: white;">{{contact_info.fullname}}</h2>
        </ion-item>
    </div>
  </ion-list>
</ion-content>
