page-main-menu-chat-preorder-list {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }

  .toolbar-button {
    font-size: 2.4rem;
    margin: 0;
    padding: 0 6px;
    text-align: start;
    font-weight: normal;
  }

  ion-list {
    background-color:transparent;
  }
  .item-md {
    // Override ion item color
    background-color: transparent;
  }
  .contact-list {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    margin-bottom: 5px;
  }
}
