
<ion-header>

  <ion-navbar>
    <ion-title>Order Tracking</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding class="bg-color">
  <ion-label class="bold">ORDER STATUS</ion-label>
  <ion-item>

  </ion-item>
</ion-content>
