page-main-menu-order-detail {
  .bg-color {
    background-color: #E0DEE1;
  }
  .footer-button {
    // background-color: #f58240;
    background-color: #f7901f;
  }
  .img-slide {
    width: 100%;
    // height: 40%;
  }
  .img-collection {
    width: 100%;
    border-radius: 15px;
  }
  .bold {
    font-weight: bold;
    font-size: 16px;
  }
  .annoy-orange {
    // color: #f58240;
    color: #f7901f;
  }
  .desc-text {
    text-align: justify;
  }
  .close-button {
    padding: 0;
  }
  .card {
    width: 97%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 11px;
    box-shadow: none;
    border-radius: 11px;
    background: #231f20;
    img {
        border-radius: 9px;
    }
  }
  .bt-exit {
    background-color: transparent;
    color: black;
    font-size: 2.4rem;
    padding: 0em 0em 0em 0em !important;
    text-align: left;
    font-weight: normal;

    ion-icon {
      padding: 0 0 0 0;
    }
  }
  .price-text {
    font-weight: bold;
    text-align: right;
  }
  ion-input {
    input {
      text-align: right;
    }
  }
  ion-select {
    max-width: 70% !important;
    white-space: pre-line;
  }
  .button-div {
    border-radius: 11px;
  }
  .upload-btn {
    background: transparent;
    color: white;
  }
  .img-product {
    color: #231f20;
  }
  .img-background {
    background: #fff;
    border-radius: 11px;
    //border: 1px solid;
    padding: 5px;
  }
}

on-modal.inset-modal-order-detail {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 10vh 5vw;
}
