<ion-header no-border no-lines no-shadow>

  <ion-navbar (click)="DISMISS_CLICK()">
    <ion-title>{{data['product_name']}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="bg">
  <ion-row>
    <ion-col col-2>
      <button ion-button icon-only clear class="bt-exit" (click)="DISMISS_CLICK()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <!--
  <div style="border-radius: 11px; background: #231f20">
  <ion-item no-lines style="color: #fff; background: #231f20; border-radius: 11px;">
    <ion-label>ชนิด</ion-label>
    <ion-select [(ngModel)]="category_option_select" (ionChange)="onChanged($event)">
      <ion-option *ngFor="let category of category_options; let i = index" no-lines style="color: #fff;" [value]="category">
        {{category['option_name']}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-lines style="color: #fff; background: #231f20; border-radius: 11px;">
    <ion-label>สินค้า</ion-label>
    <ion-select [(ngModel)]="option_id_select" (ionChange)="onChanged2($event)">
      <ion-option *ngFor="let order of option_id; let i = index" no-lines style="color: #fff;" [value]="order">
        {{order['product_name']}}
      </ion-option>
    </ion-select>
  </ion-item>
  </div>
  -->
  <br>
  
  <div style="border-radius: 11px; background: #fff; padding: 5px">
  <ion-row no-padding class="img-slide">
    <ion-slides #slider pager="true" autoplay="3000" (ionSlideWillChange)="onSlideChanged()">
      <ion-slide *ngFor="let slide of imgc">
        <img class="img-collection" [src]="slide['img_collection']" onError="this.src='assets/imgs/imgicon.png';">
      </ion-slide>
    </ion-slides>
    <div class="" *ngIf="slideIndex >= imgc.length - 1">
      <button ion-button clear large full></button>
    </div>
  </ion-row>
  <ion-row>
    <ion-label class="bold" text-wrap>{{data['product_name']}}</ion-label>
  </ion-row>
  <ion-row *ngFor="let obj of option_obj">
    <ion-label class="bold" text-wrap>{{obj['option_name']}}</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="desc-text" text-wrap>{{data['product_description']}}</ion-label>
  </ion-row>

  <ion-item *ngIf="can_input_product_amount === true" color="dark" no-lines style="color: #fff;">
    <ion-label fixed>จำนวน</ion-label>
    <ion-input placeholder="0" type="number" clearInput [(ngModel)]="product_amount" (ionChange)="onChanged_amount($event, 0)"></ion-input>
  </ion-item>

  <div *ngIf="show_extra_option() === true">
    <ion-row>
      <ion-label class="bold" text-wrap>ตัวเลือกเสริม</ion-label>
    </ion-row>
    <ion-row>
      <ion-item no-lines *ngFor="let item of option; let i = index">
        <ion-checkbox item-left [(ngModel)]="item['check']" (ionChange)="onChanged3($event)"></ion-checkbox>
        <ion-label text-wrap>{{item['option_filter_name']}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" no-lines>
        <ion-label text-wrap>มีไฟล์ออกแบบ (คิดราคาเพิ่มในกรณีที่ไม่มีไฟล์ออกแบบ)</ion-label>
        <ion-checkbox [(ngModel)]="is_design_check" (ionChange)="calculate_design_pattern()"></ion-checkbox>
      </ion-item>
    </ion-row>
  </div>

  
  <ion-col col-12 text-center *ngIf="is_desing_pattern_check()">
    <div ion-button full class="button-div">
      <button (click)="uploadPhoto()" class="upload-btn">เลือกไฟล์ออกแบบ</button>
      <input style="display: none;" type="file" id="file" #file class="upload" (change)="change_pattern_image($event)" accept="image/*"/>
    </div>
  </ion-col>
  <ion-col col-12 *ngIf="is_desing_pattern_check()">
    <div *ngIf="is_image_load" class="center-css img-background">
      <div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>
    <div *ngIf="!is_image_load" class="img-background">
      <img class="img-product" [src]="design_pattern_display" onError="this.src='assets/imgs/addimageicon.png';">
    </div>
  </ion-col>
  </div>
  <br>
  <ion-item no-lines style="color: #fff; background: #231f20; border-radius: 11px;">
    <ion-label item-start>ราคา</ion-label>
    <ion-label item-end class="price-text">
      {{sum_total}}
    </ion-label>
  </ion-item>
  <br>
  <br>
  <br>
</ion-content>

<ion-footer no-border no-lines no-shadow (click)="ADD_TO_CART_CLICK()" >
  <ion-toolbar color="dark" *ngIf="checkout_ready()">
    <ion-title text-center>
      <ion-icon name="add"></ion-icon>
      หยิบใส่ตะกล้า
    </ion-title>
  </ion-toolbar>
</ion-footer>