page-main-menu-cart-checkout {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .footer-button {
    // background-color: #f58240;]
    background-color: #f7901f;
  }
  .product-img {
    z-index: 0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  .right-text {
    float: right;
    text-align: right;
  }
  .delete-btn {
    z-index: 1;
    position: absolute;
  }
  .promo-code {
    visibility: hidden;
    z-index: -1;
  }
  .address {
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    margin: 2px;
    img {
      // width: 40px;
      // height: 40px;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;

    }
  }
  .total-background {
    background-color: #231f20;
    border-radius: 11px;
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 22px;
    margin-bottom: 12px;
  }
  .select {
    background-color: #fff;
    border-radius: 11px;
    padding: 11px;
    margin-bottom: 11px;
    ion-item {
      background-color: #fff;
      border-radius: 11px 11px 0 0;
      margin-bottom: 11px
    }
  }
  .center-img-col {
    display: flex;
    justify-content: center;
  }
  .center-img-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
