<ion-content class="modal-radius bg">
  <ion-row class="call-text">
    <ion-label text-center>
      Call
    </ion-label>
  </ion-row>
  <ion-row text-center class="no-text">
   <ion-label text-center>
     {{call_number_display}}
   </ion-label>
  </ion-row>
  <!--
  <ion-row>
    <ion-col col-6 align-items-center>
      <button ion-button block (click)="DIAL_CLICK()">
        Yes
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button block (click)="DISMISS_CLICK()">
        No
      </button>
    </ion-col>
  </ion-row>
-->
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button full class="footer-button" (click)="DIAL_CLICK ()">Yes</button>
      </ion-col>
      <ion-col>
        <button ion-button full class="footer-button" (click)="DISMISS_CLICK ()">No</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
