page-main-menu-chat-call {
    .button {
        // background: #f58240;
        background: black;//#f7901f;
        color: white;
    }
    .call-text {
        // color: #f58240;
        color: black;//#f7901f;
        font-weight: bold;
        align-items: center;
    }
    .no-text {
        color: black;//grey;
        align-items: center;
        text-align: center;
    }
    .modal-radius {
        border-radius: 18px;
    }
}
