<ion-header no-border no-lines no-shadow>
  <ion-grid>
    <ion-buttons left>
      <button ion-button clear class="bt-header" (click)="DISMISS_CLICK()">
        <ion-icon name="close-circle" class="ic-header"></ion-icon>
      </button>
    </ion-buttons>
  </ion-grid>
</ion-header>


<ion-content padding class="bg">
  <ion-grid>
    <ion-row>
      <div class="upload-div">
        <img class="profile-image" [src]="display_image" onError="this.src='assets/imgs/addimageicon.png';">
        <div ion-button class="img-div" *ngIf="!is_disabled">
          <ion-icon ios="ios-camera" md="md-camera" color="orange"></ion-icon>
          <input type="file" class="img-upload" (change)="CHAGE_PROFILE_IMAGE($event)" />
        </div>
      </div>
    </ion-row>
  </ion-grid>
  <div class="details-box">
      <ion-list class="list-border">
        <ion-label class="list-border-bold">หมวดหมู่</ion-label>
        <ion-label text-wrap>{{order_info['Product_Category']}}</ion-label>
      </ion-list>
      <ion-list class="list-border">
        <ion-label class="list-border-bold">ชื่องาน</ion-label>
        <ion-label text-wrap>{{order_info['Product_Name']}}</ion-label>
      </ion-list>
      <ion-list class="list-border">
        <ion-label class="list-border-bold">รายละเอียด</ion-label>
        <ion-label text-wrap>{{order_info['Product_Description']}}</ion-label>
      </ion-list>
      <ion-list class="list-border">
        <ion-label class="list-border-bold">จำนวน</ion-label>
        <ion-label text-wrap>{{order_info['Amount']}}</ion-label>
      </ion-list>
      <ion-list class="list-border">
        <ion-label class="list-border-bold">ราคา</ion-label>
        <ion-label text-wrap>{{order_info['Product_Price']}}</ion-label>
      </ion-list>
  </div>
</ion-content>

<ion-footer no-border no-lines no-shadow (click)="SUBMIT_CLICK()" *ngIf="!is_disabled">
  <ng-container *ngIf="check_input_not_empty()">
    <ion-toolbar color="dark">
      <ion-title text-center>
        <ion-icon name="checkmark-circle"></ion-icon>
        ยืนยัน
      </ion-title>
    </ion-toolbar>
  </ng-container>
</ion-footer>

<ion-footer no-border no-lines no-shadow class="footer" *ngIf="is_disabled">
  <ng-container *ngIf="check_input_not_empty()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <button color="dark" ion-button full class="footer-button" (click)="CUSTOMER_SUBMIT_CLICK ()">ยืนยัน</button>
      </ion-col>
      <ion-col>
        <button color="dark" ion-button full class="footer-button" (click)="CUSTOMER_CANCEL_CLICK ()">ยกเลิก</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ng-container>
</ion-footer>