page-main-menu-chat-preorder {
  .transparent {
    background-color: transparent;
  }

  ion-content {
    border-radius: 11px;
  }

  .upload-div {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-image {
    position: relative;
    // display: block;
    border-radius: 15px;
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    // margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(245,130,64, .7);
    z-index: 0;
  }
  .img-div {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
  }
  .img-upload {
    position: absolute;
    z-index: 1;
    //top: 0;
    //right: 0;
    margin: 0;
    padding: 0;
    font-size: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .item {
    padding-left: 0;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  .details-box{
    background: #fff;
    border-radius: 18px;
    padding: 22px; //22px
    margin-bottom: 50px; 
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0);
  }
  .item-input, .item-select, .item-datetime {
    color: #231f20;
  }

  .bt-header {
    background-color: transparent;
    color: black;
    font-size: 2.4rem;
      margin: 0;
      padding: 0 6px;
      text-align: start;
      font-weight: normal;
  }

  .list-border {
    //border: 1px solid gray;
    border-bottom: 1px solid rgba(161, 161, 161, 0.336);
    // border-radius: 15px;
  }

  .list-border-bold {
    font-weight: bold;
  }

  ion-footer {
    background-color: #f7901f;
  }

  ion-input:disabled {
    color: blue !important;
    opacity: 1;
  }
}
