<ion-header no-border no-lines no-shadow>

    <ion-navbar>
      <ion-title>แก้ไขบัตรเครดิต</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="bg">
      <div class="details-box">
    <ion-item class="transparent">
      <ion-label floating>Card Holder Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>Card Number</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col col-6>
        <ion-item class="transparent">
          <ion-label floating>Exp MM/YYYY</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="transparent">
          <ion-label floating>CVV</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    </div>
  </ion-content>
  
  <ion-footer no-border no-lines no-shadow>
      <ion-toolbar color="dark">
        <ion-title text-center>
            <ion-icon name="checkmark-circle"></ion-icon> แก้ไขบัตรเครดิต
        </ion-title>
      </ion-toolbar>
    </ion-footer>