page-main-menu-profile-address-book-delete {
  .modal-radius {
    border-radius: 18px;
  }
  .text {
    color: grey;
    margin-bottom: 0px;
  }
  .name-text {
    // color: #f58240;
    color: #f7901f;
    text-align: center;
    font-weight: bold;
  }
  .button {
    // background: #f58240;
    background: #f7901f;
    color: white;
  }
}
