<ion-content class="modal-radius">
  <ion-row class="name-text">
    <ion-label text-center>
      ลบที่อยู่
    </ion-label>
  </ion-row>
  <ion-row text-center class="no-text">
    <ion-label text-center>
      คุณต้องการลบที่อยู่ใช่หรือไม่
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-col col-6 align-items-center>
      <button ion-button block (click)="DEL_CLICK()">
        ลบ
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button block (click)="DISMISS_CLICK()">
        ยกเลิก
      </button>
    </ion-col>
  </ion-row>
</ion-content>
