page-main-menu-news-detail {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .card {
    width: 97%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 11px;
    box-shadow: none;
    border-radius: 11px;
    background: #231f20;
    img {
        border-radius: 9px;
    }
  }
  .head-text {
    // color: #f58240;
    color: #f7901f;
    font-weight: bold;
    font-size: 16px;
  }
  .desc-text {
    color: #fff;
    font-size: 13px;
  }
  .date-text {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
  }
  /*
  .card {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
    border-radius: 15px;
    background: #231f20;


  }
  .date-text {
    font-size: 16px;
    // color: rgb(104, 193, 253);
  }
  .head-text {
    font-size: 14px;
    // color: black;
    font-weight: bold;
  }

  .promotion-head {
    color: #f7901f;
    padding: 11px 11px 0 11px;
    font-size: 18px;
  }
  .promotion-detail {
    color: #fff;
    padding: 0 11px 0 11px;
  }
  .promotion-date {
    color: #f7901f;
    padding: 0 11px 11px 11px;
    width: 100%;
    text-align: right;
  }

  */
}
