<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ข่าวสาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <!--
  <ion-card class="card">
    <ion-row no-padding class="img-slide">
      <ion-slides #slider pager="true" autoplay="3000" (ionSlideWillChange)="onSlideChanged()">
        <ion-slide *ngFor="let slide of item['image']">
          <img [src]="slide" onError="this.src='assets/imgs/imgicon.png';">
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-card-content>

      <ion-row class="promotion-head">
        <ion-label text-wrap class="head-text">{{item['topic']}}</ion-label>
      </ion-row>
      <ion-row class="promotion-date">
        <ion-label no-margin text-wrap class="date-text">{{item['date']}}</ion-label>
      </ion-row>
      <ion-row class="promotion-detail">
        <ion-label no-margin text-wrap>{{item['detail']}}</ion-label>
      </ion-row>
    </ion-card-content>
  </ion-card>
-->
  <ion-card class="card">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center col-12>
          <ion-slides #slider pager="true" autoplay="3000" (ionSlideWillChange)="onSlideChanged()">
            <ion-slide *ngFor="let slide of item['image']">
              <img [src]="slide" onError="this.src='assets/imgs/imgicon.png';">
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label text-wrap class="head-text">{{item['topic']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label text-wrap class="date-text">{{item['date']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label text-wrap class="desc-text">{{item['detail']}}</ion-label>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
