
<ion-header>

  <ion-navbar>
    <ion-title>พรีออเดอร์/สั่งผลิต</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg">
  <!--
  <ion-card class="card" *ngFor="let item of items">
    <ion-grid (click)="DETAIL_CLICK(item)">
      <ion-row>
        <ion-col align-self-center col-4>
          <img [src]="item['image']">
        </ion-col>
        <ion-col align-self-start col-8>
          <ion-label text-wrap class="title-text">{{item['title']}}</ion-label>
          <ion-label text-wrap class="describe-text">{{item['describe']}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  -->
  <ion-item no-lines style="color: #fff; background: #231f20; border-radius: 11px;">
    <ion-label>ประเภทสินค้า</ion-label>
    <ion-select [(ngModel)]="category_select" (ionChange)="onChanged($event)">
      <ion-option value="init">หมวดหมู่</ion-option>
      <ion-option *ngFor="let item of category_dropdown" [value]="item">{{item['category_name']}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-row class="ion-row anim-fadeIn_0" *ngFor="let item of items; let i = index">
    <ng-container *ngIf="i%2 === 0">
      <ion-col class="ion-col" col-6 *ngIf="i < items.length">
        <ion-card class="card" (click)="DETAIL_CLICK(item.a1)">
          <img [src]="item['a1']['product_image'] || item['a1']['product_image'][0]" >
          <ion-card-content no-padding>
            <ion-grid>
              <ion-row no-padding>
                <ion-col no-padding>
                  <ion-label no-margin text-wrap text-center class="title-text">{{item.a1.product_name}}</ion-label>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 *ngIf="i+1 < items.length">
        <ion-card class="card" (click)="DETAIL_CLICK(item.a2)">
          <img [src]="item['a2']['product_image'] || item['a2']['product_image'][0]">
          <ion-card-content no-padding>
            <ion-grid>
              <ion-row no-padding>
                <ion-col no-padding>
                  <ion-label no-margin text-wrap text-center class="title-text">{{item.a2.product_name}}</ion-label>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>

  <ion-infinite-scroll (ionInfinite)="doRefresh($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
