page-main-menu-order-preorder {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .card {
    width: 100%;
    margin: 0px;
    height: auto;
    height: 160px;
    box-shadow: none;
    border-radius: 11px;
    background: #231f20;
    margin-top: 9px;
    img {
      width: 100%;
      border-radius: 9px 9px 0 0;
    }
  }
  .ion-row {
    padding: 0;
  }
  .ion-col {
    //padding: 0;
    margin: 0;
  }
  img {
    width: 96%;
    position: relative;
    // height: auto;
    height: 100px;
    align-content: center;
    object-fit: cover;
  }
  .price-text {
    // color: #f58240;
    color: #f7901f;
    font-weight: bold;
    font-size: 12px;
    align-content: center;
  }
  .title-text {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    align-content: center;
  }
  .title-text-promo {
    color: blue;
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    align-content: center;
  }
  .button {
    width: 100%;
    text-align: end;
    // background: #f58240;
    background: #f7901f;
  }

  ion-row {
    align-items: center;
  }

  ion-select {
    white-space: pre-line;
    max-width: 100% !important;
    border-radius: 15px;
  }

  ion-item {
    border-radius: 15px;
  }

  // New Version
  .instock {
    height: 455px;
  }
  .instock-relative {
    position: relative;
  }
  .instock-img {
    width: 100%;
    max-height: 205px;
  }
}
