page-main-menu-chat-info {
    .modal-radius {
        border-radius: 18px;
    }
    .text {
        color: black;//grey;
        margin-bottom: 0px;
    }
    .name-text {
        // color: #f58240;
        color: black;//#f7901f;
        text-align: center;
        font-weight: bold;
    }
    .profile-image {
        display: block;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 100px;
        height: 100px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(245,130,64, .7);
    }
}
