<ion-content class="modal-radius bg" (click)="DISMISS_CLICK()">
  <ion-row>
    <img class="profile-image" [src]="info['image']">
  </ion-row>
  <ion-row>
    <ion-label class="name-text">{{info['name']}}</ion-label>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="text">ชื่อพนักงาน</ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-label class="text">: {{info['pname']}} {{info['fname']}} {{info['lname']}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="text">ตำแหน่ง</ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-label class="text">: {{info['employee_position']}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="text">เบอร์โทร</ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-label class="text">: {{info['phone']}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="text">แผนก</ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-label class="text">: {{info['employee_department']}}</ion-label>
    </ion-col>
  </ion-row>
</ion-content>