page-main-menu-chat {
  // $userBackgroundColor: #f58240;
  $userBackgroundColor: rgba(0,0,0, 0.8);// #f7901f;
  $contactBackgroundColor: rgba(0, 0, 0, 0.8);// #387ef5

  .bg-color {
    // background: linear-gradient(to bottom, #f7c590 0%, #ffaa50 100%);
    background: color($colors, gray_background, base);
  }

  .bg {
    background-color: #ddd;
  }

  .padding_order {
    margin-top: 74px;
  }

  .bar-footer {
    overflow: visible !important;
  }
  .bar-footer textarea {
    resize: none;
    height: 25px;
  }
  .footer-btn {
    font-size: x-large;
    color: $userBackgroundColor;
  }
  .toolbar-button {
    font-size: 2.4rem;
    margin: 0;
    padding: 0 6px;
    text-align: start;
    font-weight: normal;
  }
  .fixed_image {
    max-height: 56px;

    img {
      max-height: 56px;
    }
  }
  ion-input {
    background-color: #cecece;
    border-radius: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  // Modal
  ion-modal, .show-page {
    background-color: rgba(0,0,0, .5) !important;
    padding: 50px !important;
  }
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }
  .fileUpload {
    position: relative;
    overflow: hidden;
  }
  .fileUpload input.upload {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }
  .fixed_container {
    width: 100%;
    height: 56px;
    // padding: 0;
    // background-color: #db7f1c !important;
    //top: 0;
    //left: 0;
    color: white;
    // new 
    display: table;
  }

  .order-div {
    height: 56px;
    width: 100%;
    position: absolute;
    background: black;
    padding: 20px;
  }

  ion-content {
    .scroll-content {
      // margin-top: 131px !important;
    }
  }

  .order-padding {
    margin-top: 131px !important;
  }

  ion-toolbar {
    height: 56px;

    img {
      max-height: 56px;
    }
  }
  // Chat
  /*
  img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
  }
  img.profile-pic.left {
    left: 10px;
  }
  img.profile-pic.right {
    right: 10px;
  }
  .message {
    font-size: 14px;
  }
  .message-detail {
    white-space: nowrap;
    font-size: 14px;
  }
  .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
  }
  .message-wrapper {
    position: relative;
  }
  .message-wrapper:last-child {
    margin-bottom: 10px;
  }
  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
  }
  .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }
  .chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;

  }
  .chat-bubble.left:before {
    background-color:#e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
  }
  .chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px;
  }
  .chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
  }
  .chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
  }
  .user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
  }
  .msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
  }
  input, textarea, .item-input, .item-input-wrapper {
    background-color: #f4f4f4 !important;
  }
  .bold {
    font-weight: bold;
  }
  .cf {
    clear: both !important;
  }
  a.autolinker {
    color: #3b88c3;
  }
  */


  .line-breaker {
    white-space: pre-line;
  }

  .message-wrap {
    padding: 0 10px;
    .message {
      position: relative;
      padding: 7px 0;
      .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: rgb(0, 0, 0);//#888;
          }
        }

        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          border: 1px solid #ddd;
          color: #fff;
          width: auto;
          max-width: 80%;
          span.triangle {
            background-color: rgb(252, 0, 0);
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }
      }
    }
  }

  .message.left {
    .msg-content {
      background-color: $contactBackgroundColor;
      float: left;
    }
    .msg-detail {
      padding-left: 60px;
    }
    .user-img {
      left: 0;
    }
    .msg-content {
      color: #343434;
      span.triangle {
        border-top-width: 0;
        border-right-width: 0;
        left: -5px;
      }
    }
  }

  .message.right {
    .msg-detail {
      padding-right: 60px;
      .msg-info {
        text-align: right;
      }
    }
    .user-img {
      right: 0;
    }
    ion-spinner {
      position: absolute;
      right: 10px;
      top: 50px;
    }
    .msg-content {
      background-color: $userBackgroundColor;
      float: right;
      span.triangle {
        background-color: $userBackgroundColor;
        border-bottom-width: 0;
        border-left-width: 0;
        right: -5px;
      }
    }
  }

  /** Loading **/
  .loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .loader .ion-loading-c {
    font-size: 64px;
  }
}

ion-modal.inset-modal {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 38vh 10vw;
}

ion-modal.inset-modal-info {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}

ion-modal.inset-modal-order-info {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 12vh 10vw;
}

ion-modal.inset-modal-preorder {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 12vh 10vw;
}
