<ion-header no-border no-lines no-shadow >

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-buttons end>
      <button ion-button clear (click)="SELLER_INFO_CLICK()">
        <ion-icon name="information-circle" class="toolbar-button"></ion-icon>
      </button>
      <button ion-button clear (click)="CALL_CLICK()">
        <ion-icon name="call" class="toolbar-button"></ion-icon>
      </button>
      <button ion-button clear (click)="PREORDER_STATUS_CLICK()" *ngIf="is_preorder === true">
        <ion-icon name="book" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <!---->
  <ion-toolbar color="dark" class="fixed_container" *ngIf="is_order === true" #fixedContainer ion-fixed (click)="ORDER_DETAIL_CLICK()">
      <ion-row>
        <ion-col col-3>
          <ion-thumbnail>
            <img [src]="order_info['order_list'][0]['product_image']">
          </ion-thumbnail>
        </ion-col>
        <ion-col col-9>
          <p text-wrap>
            {{order_info['order_list'][0]['product_name']}}
          </p>
        </ion-col>
        <!--
        <ion-col col-2>
          <button ion-button (click)="SUBMIT_ORDER_CLICK()">
            ยืนยัน
          </button>
        </ion-col>
        -->
      </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding class="bg" [class.padding_order]="is_order">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">

    </ion-refresher-content>
  </ion-refresher>
  <!-- Order -->
  <!--
  <div class="fixed_container" *ngIf="is_preorder === true" #fixedContainer ion-fixed (click)="ORDER_DETAIL_CLICK()">
    <ion-row>
      <ion-col col-4>
        <ion-thumbnail>
          <img [src]="order_info['order_list'][0]['product_image']">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-8>
        <p text-wrap>
          {{order_info['order_list'][0]['product_name']}}
        </p>
      </ion-col>
    </ion-row>
  </div>
-->
  <!--
  <div>chat_type
    chatroom
    contact_id
    order_info
    user_id
    <ion-item>
      <ion-label>{{debug_text['chat_type']}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{debug_text['chatroom']}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{debug_text['contact_id']}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{debug_text['order_info']}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{debug_text['user_id']}}</ion-label>
    </ion-item>
  </div>
  -->

  <div class="message-wrap">
    <div *ngFor="let msg of messages; let i = index" class="message" [class.left]="msg['sender_id'] !== chatroom_info['user_id']"
      [class.right]="msg['sender_id'] === chatroom_info['user_id']">
      <img class="user-img" [src]="msg['image']">
      <div class="msg-detail">
        <div class="msg-info" *ngIf="msg['sender_id'] === chatroom_info['user_id']">
          <div class="msg-info" *ngIf="i !== messages.length - 1">
            <p>{{msg['timeStamp']}}</p>
          </div>
          <div *ngIf="(i === messages.length - 1)">
            <div class="msg-info" *ngIf="msg['read'] === 'read'">
              <p>{{msg['timeStamp']}} อ่านแล้ว</p>
            </div>
            <div class="msg-info" *ngIf="msg['read'] !== 'read'">
              <p>{{msg['timeStamp']}}</p>
            </div>
          </div>
        </div>
        <div class="msg-info" *ngIf="msg['sender_id'] !== chatroom_info['user_id']">
          <p>
            <!--{{msg['name']}}-->{{msg['timeStamp']}} </p>
        </div>
        <div *ngIf="msg['message_type'] === 'text'" class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker">{{msg['message']}}</p>
        </div>
        <div *ngIf="msg['message_type'] === 'image'" class="msg-content">
          <span class="triangle"></span>
          <img [src]="msg['message']" (click)="IMAGE_CLICK(msg)">
        </div>
        <div *ngIf="msg['message_type'] === 'file'" class="msg-content">
          <span class="triangle"></span>
          <u class="line-breaker" (click)="LINK_CLICK(msg['message'])">
            {{msg['file']}}
          </u>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <form [formGroup]="messageForm" novalidate>
    <ion-item>
      <div ion-button clear (click)="CAMERA_CLICK()" item-start>
        <ion-icon class="footer-btn" name="camera"></ion-icon>
      </div>
      <div ion-button clear icon-only item-start class="fileUpload">
        <ion-icon class="footer-btn" name="image"></ion-icon>
        <input type="file" class="upload" (change)="SENDIMAGE_CLICK($event)">
      </div>
      <div ion-button clear icon-only item-start class="fileUpload">
        <ion-icon class="footer-btn" name="document"></ion-icon>
        <input type="file" class="upload" (change)="SENDFILE_CLICK($event)">
      </div>
      <ion-input formControlName="message" [(ngModel)]="chatBox" placeholder="..."></ion-input>
      <button ion-button clear (click)="SENDMESSAGE_CLICK(chatBox)" item-end>
        <ion-icon class="footer-btn" name="send"></ion-icon>
      </button>
    </ion-item>
  </form>
</ion-footer>
