<ion-header no-border no-lines no-shadow>

  <ion-navbar>
    <ion-title>แจ้งการชำระเงิน</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg">
  <div class="box-details">
  <ion-item no-lines class="transparent">
    <ion-label style="color: #000000;">บัญชีที่โอน : </ion-label>
    <ion-select [(ngModel)]="selectInput.account" interface="popover">
      <ion-option value="init">กรุณาเลือกข้อมูล</ion-option>
      <ion-option *ngFor="let item of bank_list[0]" [value]="item">{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-lines class="transparent">
    <ion-label>วันที่ชำระเงิน :</ion-label>
    <ion-label (click)="DATEPICKER_CLICK()" class="right-text">{{display_date}}</ion-label>
  </ion-item>
  <ion-item no-lines class="transparent">
    <ion-label>เวลาโอน :</ion-label>
    <ion-label (click)="TIMEPICKER_CLICK()" class="right-text">{{display_time}}</ion-label>
  </ion-item>
  <ion-item no-lines class="transparent">
    <ion-label>หลักฐานการโอน :</ion-label>
    <button ion-button class="upload-btn" (click)="IMAGECHOOSE_CLICK()" item-end (change)="CHAGE_PROFILE_IMAGE($event)">Upload
      หลักฐานการโอน</button>
  </ion-item>
  <div *ngIf="!isimageloading">
    <img class="img-evid" [src]="selectInput.evident_pic" onError="this.src='assets/imgs/addimageicon.png';">
  </div>
  <div *ngIf="isimageloading" class="css-center">
    <div class="lds-facebook"><div></div><div></div><div></div></div>
  </div>
</div>
</ion-content>

<ion-footer no-border no-lines no-shadow padding>
  <button style="background: #231f20; border-radius: 50px;" ion-button full [disabled]="Check()" class="footer-button" (click)="ACCEPT_CLICK()">ยืนยัน</button>
</ion-footer>
