page-main-menu-purchase-paymentinform {
    .bg-color {
        background-color: color($colors, gray_background, base);
    }
    .transparent {
        background-color: transparent;
    }
    .footer-button {
        // background-color: #f58240;
        background-color: #231f20;
    }
    .right-text {
      float: right;
      text-align: right;
    }
    .img-evid {
      width: 100%;
      height: 100%;
    }
    ion-input {
      input {
        text-align: right;
      }
    }
    ion-select {
      max-width: 100% !important;
      white-space: pre-line;
    }
    .css-center {
      text-align: center;
      background-color: black;
      border-radius: 15px;
    }
    .upload-btn {
      border-radius: 11px;
    }
    .text-color {
      color: #000000;
    }

}
