page-blank {
    ion-content {
        background-image: url('../assets/imgs/BLURBG.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
