<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>แก้ไข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <ion-grid>
    <ion-row>
      <div class="upload-div">
        <img class="profile-image" [src]="info['image']" onError="this.src='assets/imgs/profile.png';">
        <div ion-button class="img-div">
          <ion-icon ios="ios-camera" md="md-camera" color="orange"></ion-icon>
          <input type="file" class="img-upload" (change)="CHAGE_PROFILE_IMAGE($event)" />
        </div>
      </div>
    </ion-row>
  </ion-grid>
  <div class="details-box">
    <ion-item class="transparent">
      <ion-label floating>คำนำหน้า</ion-label>
      <ion-input [(ngModel)]="info['pname']"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>ชื่อ</ion-label>
      <ion-input [(ngModel)]="info['fname']"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>นามสกุล</ion-label>
      <ion-input [(ngModel)]="info['lname']"></ion-input>
    </ion-item>
    <!--
    <ion-item class="transparent">
      <ion-label floating>LINE</ion-label>
      <ion-input [(ngModel)]="info['line']"></ion-input>
    </ion-item>
    -->
    <ion-item class="transparent">
      <ion-label floating>เบอร์โทรศัพท์</ion-label>
      <ion-input type="tel" [(ngModel)]="info['tel']"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>E-mail</ion-label>
      <ion-input [(ngModel)]="info['email']" disabled="true"></ion-input>
    </ion-item>
  </div>
</ion-content>

<ion-footer no-border no-lines no-shadow *ngIf="IsEmpty() == false" (click)="SAVE_CLICK()">
  <ion-toolbar color="dark">
    <ion-title text-center>
      <ion-icon name="checkmark-circle"></ion-icon> บันทึกข้อมูล
    </ion-title>
  </ion-toolbar>
</ion-footer>
