<ion-header no-border no-lines no-shadow>

  <ion-navbar>
    <ion-title>สินค้าพร้อมส่ง</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg">

  <ion-item no-lines style="color: #fff; background: #231f20; border-radius: 11px;">
    <ion-label>ประเภทสินค้า</ion-label>
    <ion-select [(ngModel)]="category_select" (ionChange)="onChanged($event)">
      <ion-option value="init">หมวดหมู่</ion-option>
      <ion-option *ngFor="let item of category_dropdown" [value]="item">{{item['category_name']}}</ion-option>
    </ion-select>
  </ion-item>
  
  <ion-row class="ion-row anim-fadeIn_0" *ngFor="let item of items; let i = index">
    <ng-container *ngIf="i%2 === 0">
      <ion-col class="ion-col" col-6 *ngIf="i < items.length">
        <ion-card class="card" (click)="DETAIL_CLICK(item.a1)">
          <ng-container *ngIf="item.a1 !== undefined">
            <ng-container *ngIf="item.a1.promotion !== undefined">
              <div class="item-ribbon" *ngIf="item.a1.promotion.promotion === true">
                <span class="ribbon promotion">
                  <span>SALES</span>
                </span>
                <img class="item-ribbon" [src]="item['a1']['product_image'] || item['a1']['product_image'][0]" >
              </div>
              <div *ngIf="item.a1.promotion.promotion === false">
                <img class="item-ribbon" [src]="item['a1']['product_image'] || item['a1']['product_image'][0]" >
              </div>
            </ng-container>
            <ng-container *ngIf="item.a1.promotion === undefined">
              <img class="item-ribbon" [src]="item['a1']['product_image'] || item['a1']['product_image'][0]" >
            </ng-container>
          </ng-container>
          <ion-card-content no-padding>
            <ion-grid>
              <ion-row no-padding>
                <ion-col no-padding>
                  <ion-label no-margin text-wrap text-center class="title-text">{{item.a1.product_name}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 *ngIf="i+1 < items.length">
        <ion-card class="card" (click)="DETAIL_CLICK(item.a2)">
          <ng-container *ngIf="item.a2 !== undefined">
            <ng-container *ngIf="item.a2.promotion !== undefined">
              <div class="item-ribbon" *ngIf="item.a2.promotion.promotion === true">
                <span class="ribbon promotion">
                  <span>SALES</span>
                </span>
                <img class="item-ribbon" [src]="item['a2']['product_image'] || item['a2']['product_image'][0]" >
              </div>
              <div *ngIf="item.a2.promotion.promotion === false">
                <img class="item-ribbon" [src]="item['a2']['product_image'] || item['a2']['product_image'][0]" >
              </div>
            </ng-container>
            <ng-container *ngIf="item.a2.promotion === undefined">
              <img class="item-ribbon" [src]="item['a2']['product_image'] || item['a2']['product_image'][0]" >
            </ng-container>
          </ng-container>
          <ion-card-content no-padding>
            <ion-grid>
              <ion-row no-padding>
                <ion-col no-padding>
                  <ion-label no-margin text-wrap text-center class="title-text">{{item.a2.product_name}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>

  <ion-infinite-scroll (ionInfinite)="doRefresh($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!--
<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content refreshingSpinner="circles">

  </ion-refresher-content>
</ion-refresher>
<ion-row class="ion-row" *ngFor="let item of items; let i = index">
  <ng-container *ngIf="i%2 === 0">
    <ion-col class="ion-col" col-6 *ngIf="i < items.length">
      <ion-card class="card" (click)="DETAIL_CLICK(item.a1)">
        <img [src]="item['a1']['product_image']">
        <ion-card-content no-padding>
          <ion-grid>
            <ion-row no-padding>
              <ion-col no-padding>
                <ion-label no-margin text-wrap text-left class="title-text">{{item.a1.product_name}}</ion-label>
                <ion-label text-left class="price-text">{{item.a1.product_price.price}}</ion-label>
              </ion-col>

              <ion-col col-6>
                <button ion-button round class="button" (click)="DETAIL_CLICK(item.a1)">
                  <ion-icon name="cart" start></ion-icon>
                </button>
              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-6 *ngIf="i+1 < items.length">
      <ion-card class="card" (click)="DETAIL_CLICK(item.a2)">
        <img [src]="item['a2']['product_image']">
        <ion-card-content no-padding>
          <ion-grid>
            <ion-row no-padding>
              <ion-col no-padding>
                <ion-label no-margin text-wrap text-left class="title-text">{{item.a2.product_name}}</ion-label>
                <ion-label text-left class="price-text">{{item.a2.product_price.price}}</ion-label>
              </ion-col>

              <ion-col col-6>
                <button ion-button round class="button">
                  <ion-icon name="cart" start></ion-icon>
                </button>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ng-container>
</ion-row>
-->
