page-main-menu-order-tracking-comment-modal {
  .ion-rating {
    font-size: 10.5vw;
    text-align: center;
    color: white;
  }
  .head-text {
    // color: #f58240;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .addi-text {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .footer-button {
    background-color: #f7901f;
  }

  ion-textarea {
    border-radius: 15px;
  }

  ion-icon[name=star] {
    color: white;
  }
  ion-icon[name=star-outline] {
    color: black;
  }

  ion-modal.inset-modal-comment {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: opacity .25s ease-in-out;
    padding: 10vh 5vw;
  }
}
