<ion-content padding class="bg">
  <ion-grid>
    <ion-row>
      <ion-label class="head-text">ประเมินความพึงพอใจการสั่งซื้อ</ion-label>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding no-margin class="ion-rating">
    <ion-row>
      <ion-col text-center *ngFor="let star of stars; let i = index" tappable (click)="STAR_CLICK(i)">
        <ion-icon [name]="star"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-label class="addi-text">เพิ่มเติม</ion-label>
    </ion-row>
  </ion-grid>
  <ion-item no-lines style="color: #fff; background: #231f20; border-radius: 11px;">
    <ion-textarea autosize rows="5" [(ngModel)]="comment_text" max="500"></ion-textarea>
  </ion-item>
</ion-content>

<!--
<ion-footer>
  <button ion-button full class="footer-button" (click)="FINISH_CLICK ()">ตกลง</button>
</ion-footer>
-->
<ion-footer no-border no-lines no-shadow (click)="FINISH_CLICK()">
  <ion-toolbar color="dark">
    <ion-title text-center>
      <ion-icon name="checkmark-circle"></ion-icon> ตกลง
    </ion-title>
  </ion-toolbar>
</ion-footer>