
<!-- Side Menu -->
<!--
<ion-menu [content]="content" id="menu-avatar">
  <ion-content>
    <div #header>
      <ion-row style="align-items: center; margin-top: 10%;">
        <ion-col col-3>

        </ion-col>
        <ion-col col-6>
          <img class="user-avatar round" [src]="placeholder">
          <span class="icon-badge">
            <ion-icon name="camera"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3> </ion-col>
        <ion-col col-6 style="justify-content: center;">
          <h4>Amalgam Alpha</h4>
        </ion-col>
      </ion-row>
    </div>
    <ion-list >
      <button ion-item *ngFor="let p of pages" (click)="SELECTPAGE_CLICK(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
-->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
