<ion-header no-border no-lines no-shadow>

  <ion-navbar>
    <ion-title>เลขที่ : {{items['order_id']}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="CONTACT_SELLER_CLICK()">
        <ion-icon name="chatboxes" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-label class="bold">รายละเอียดการสั่งซื้อ</ion-label>
  <div class="box-details-dark" *ngFor="let item of items['order_list']; let i = index">
    <img width="100%" [src]="item['product_image']" onError="this.src='assets/imgs/imgicon.png';">
    <div>{{item['product_name']}}</div>
    <div>จำนวน {{item['amount']}}</div>
    <div *ngFor="let itm of item['options']">
      - {{itm['option_filter_name']}}
    </div>
  </div>

  <ion-label class="bold">สถานะการสั่งซื้อ</ion-label>
  <div class="box-details-dark">
    <div style="width: 100%; text-align: center; font-size: 18px;">{{items["order_status_text"]}}</div>
  </div>

  <ion-label class="bold">สถานะการขนส่ง</ion-label>
  <div class="box-details-dark" *ngFor="let item of items['order_list']; let i = index">
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(6) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(6) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>
          <!--จัดส่งเรียบร้อย-->คำสั่งซื้อเสร็จสมบูรณ์</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(5) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(5) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>
          <!--รอจัดส่งเรียบร้อย-->ร้านค้าทำการจัดส่งแล้ว</ion-label>
        <ion-label *ngIf="CheckOrderTrackingExist() == true" item-start>{{items['order_tracking']}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(4) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(4) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>
          <!--รอผลิตสินค้า-->ร้านค้ายืนยันการชำระเงิน (กำลังดำเนินการผลิต)</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(3) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(3) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>รอยืนยันการชำระเงิน</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(2) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(2) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>รอชำระเงิน</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(1) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(1) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>
          <!--สั่งซื้อสำเร็จ--> รอยืนยันคำสั่งซื้อ</ion-label>
      </ion-col>
    </ion-row>
  </div>


  <ion-label item-start class="bold">รายการสั่งซื้อ</ion-label>
  <ion-grid class="box-details-dark">
    <ion-row row-no-padding>
      <ion-col col-4 no-padding>
        <ion-label class="head-text">Order No.</ion-label>
      </ion-col>
      <ion-col col-8 no-padding>
        <ion-label text-wrap class="desc-text">{{items['order_id']}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row row-no-padding>
      <ion-col col-4 no-padding>
        <ion-label class="head-text">Status</ion-label>
      </ion-col>
      <ion-col col-8 no-padding>
        <ion-label text-wrap class="desc-text">{{items['order_status_text']}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row row-no-padding>
      <ion-col col-4 no-padding>
        <ion-label class="head-text">Date</ion-label>
      </ion-col>
      <ion-col col-8 no-padding>
        <ion-label text-wrap class="desc-text">{{items['timestamp']['purchase_time']}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row row-no-padding>
      <ion-col col-4 no-padding>
        <ion-label class="head-text">Payment</ion-label>
      </ion-col>
      <ion-col col-8 no-padding>
        <ion-label text-wrap class="desc-text">{{items['payment']['detail']['bank']}}
          ({{items['payment']['detail']['name']}} : {{items['payment']['detail']['number']}})</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-label class="bold">สถานที่จัดส่ง</ion-label>
  <ion-row padding class="box-details-dark">
    <ion-col col-4>
      <ion-row>
        <ion-label class="head-text">ชื่อ</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">ที่อยู่</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">จังหวัด</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">รหัสไปรษณีย์</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">เบอร์ติดต่อ</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">ประเภทการส่ง</ion-label>
      </ion-row>
    </ion-col>
    <ion-col col-8>
      <ion-row>
        <ion-label class="desc-text">{{items['destination']['fname']}} {{items['destination']['lname']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{items['destination']['address']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{items['destination']['province']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{items['destination']['zipcode']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{items['destination']['telephone']}}.</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{items['delivery_type']}}</ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <br>
  <div class="box-details-dark">
    <ion-grid>
      <ion-row>
        <ion-label item-start>ค่าสินค้า</ion-label>
        <ion-label item-end class="price-text bold">{{items['price']['product_price']}}</ion-label>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-label item-start>ค่าจัดส่ง</ion-label>
        <ion-label item-end class="price-text bold">{{items['price']['shipping_price']}}</ion-label>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-label item-start>รวมทั้งหมด</ion-label>
        <ion-label item-end class="price-text bold">{{items['price']['total_price']}}</ion-label>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer padding no-border no-lines no-shadow>
  <div *ngIf="IsOrderType() == true" color="dark">
    <button style="background: #231f20; border-radius: 50px;" ion-button full class="footer-button" (click)="PAYMENTINFORM_CLICK ()">แจ้งชำระเงิน</button>
    <button style="background: #231f20; border-radius: 50px;" ion-button full class="footer-button" (click)="CANCEL_CLICK ()">ยกเลิกใบสั่งซื้อ</button>
  </div>
  <div *ngIf="IsOrderType() == false" color="dark">
    <button style="background: #231f20; border-radius: 50px;" ion-button full [disabled]="CheckLevelForComment()" class="footer-button"
      (click)="CONFIRM_CLICK ()">ยืนยันการรับสินค้า</button>
  </div>
</ion-footer>
