page-main-menu-profile-address-book {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .fab-color {
    color: white;
    // background-color: #f58240;
    background-color: #231f20;
    font-size: 20px;
  }
  .bt-image {
    height: 40px;
    width: 40px;
    margin-left: auto;
  }
  .pop-in {
    animation: pop-in 0.65s;
  }
  .select-btn {
    // background-color: #f58240;
    background-color: #f7901f;
  }
  @keyframes pop-in {
    0% {
      transform: scale(0);
    }
    45% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  .list {
    background-color: white;
    border-radius: 15px;
    margin: 5px;
  }
  .head-text {
    color: black;
    font-size: 15px;
    word-wrap:break-word;
    white-space: normal;
  }
  .desc-text {
    font-size: 15px;
    word-wrap:break-word;
    white-space: normal;
  }
  ion-row {
    //border: 1px solid black;
  }
  // Modal
  ion-modal, .show-page {
    background-color: rgba(0,0,0, .5) !important;
    padding: 50px !important;
  }
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }
}
ion-modal.inset-modal-addr-del {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 38vh 10vw;
}
