<ion-header no-border no-lines no-shadow>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ที่อยู่จัดส่ง</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding class="bg">
  <ion-fab bottom right>
    <button ion-fab class="pop-in fab-color" (click)="ADD_CLICK()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list class="list" *ngFor="let item of address_info">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-row>
            <ion-label class="head-text">ชื่อ</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="head-text">ที่อยู่</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="head-text">จังหวัด</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="head-text">รหัสไปรษณีย์</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="head-text">เบอร์ติดต่อ</ion-label>
          </ion-row>
        </ion-col>
        <ion-col col-7>
          <ion-row>
            <ion-label class="desc-text">{{item['fname']}} {{item['lname']}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="desc-text">{{item['address']}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="desc-text">{{item['province']}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="desc-text">{{item['zipcode']}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="desc-text">{{item['telephone']}}.</ion-label>
          </ion-row>
        </ion-col>
        <ion-col col-2>
          <ion-row>
            <img class="bt-image" src="assets/imgs/editaddicon.png" (click)="EDIT_CLICK(item)">
          </ion-row>
          <ion-row>
              <img class="bt-image" src="assets/imgs/deleteicon.png" (click)="DEL_CLICK(item)">
          </ion-row>
          <ion-row *ngIf="page_flag === 1 || 2">
            <button ion-button class="select-btn" (click)="SELECT_CLICK(item)">เลือก</button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
