<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ประวัติการสั่งซื้อ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <!--
  <div *ngFor="let item of items['order_list']; let i = index">
    <img class="product-img" [src]="item['product_image']" onError="this.src='assets/imgs/imgicon.png';">
    <div class="address">
      <ion-label class="bold">สินค้าสั่งซื้อ</ion-label>
      <ion-row>
        <ion-col col-4 class="center-img-col">
        </ion-col>
        <ion-col col-6>
          <ion-row no-padding>
            <ion-label text-wrap no-margin>{{item['product_name']}}</ion-label>
          </ion-row>
          <ion-row no-padding>
            <ion-label text-wrap no-margin>จำนวน {{item['amount']}}</ion-label>
          </ion-row>
          <ion-row *ngFor="let itm of item['options']">
            <ion-label no-margin text-wrap>- {{itm['option']}}</ion-label>
          </ion-row>
        </ion-col>
        <ion-col col-2>
          <ion-row>
            <ion-label no-margin></ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>
-->
  <div *ngIf="type === 'instock'">
    <ion-card
      *ngFor="let item of items['order_list']; let i = index"
      class="card anim-fadeInRight_{{ i }}"
    >
      <div class="box-details">
        <div class="image-div" style="width: 100%; text-align: right;">
          <img
            style="border-radius: 11px;"
            class="product-img"
            [src]="item['product_image']"
            onError="this.src='assets/imgs/imgicon.png';"
          />
        </div>
        <ion-label text-wrap no-margin>{{ item["product_name"] }}</ion-label>
        <ion-label text-wrap no-margin
          >จำนวน {{ item["amount"] || item["quantity"] }}</ion-label
        >
        <ion-row *ngFor="let itm of item['option']">
          <!-- Old
        <ion-label no-margin text-wrap>- {{itm['option']}}</ion-label>
        -->
          <ion-label no-margin text-wrap
            >- {{ itm["option_filter_name"] }}</ion-label
          >
        </ion-row>
        <ion-label class="right-text"
          >{{ item["price"]["total_price"] }} บาท</ion-label
        >
      </div>
    </ion-card>
    <br />
    <ion-label class="bold">สถานะการสั่งซื้อ</ion-label>
    <ion-grid class="address-2">
      <ion-row row-no-padding>
        <ion-col col-4 no-padding>
          <ion-label class="head-text">Order No.</ion-label>
        </ion-col>
        <ion-col col-8 no-padding>
          <ion-label text-wrap class="desc-text">{{
            items["order_id"]
          }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row row-no-padding>
        <ion-col col-4 no-padding>
          <ion-label class="head-text">Status</ion-label>
        </ion-col>
        <ion-col col-8 no-padding>
          <ion-label text-wrap class="desc-text">{{
            items["order_status_text"]
          }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row row-no-padding>
        <ion-col col-4 no-padding>
          <ion-label class="head-text">Date</ion-label>
        </ion-col>
        <ion-col col-8 no-padding>
          <ion-label text-wrap class="desc-text">{{
            items["timestamp"]["purchase_time"]
          }}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row row-no-padding>
        <ion-col col-4 no-padding>
          <ion-label class="head-text">Payment</ion-label>
        </ion-col>
        <ion-col col-8 no-padding>
          <ion-label text-wrap class="desc-text"
            >{{ items["payment"]["detail"]["bank"] }} ({{
              items["payment"]["detail"]["name"]
            }}
            : {{ items["payment"]["detail"]["number"] }})</ion-label
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-label class="bold">สถานที่จัดส่ง</ion-label>
    <ion-row no-padding class="address-2">
      <ion-col col-4>
        <ion-row>
          <ion-label class="head-text">ชื่อ</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="head-text">ที่อยู่</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="head-text">จังหวัด</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="head-text">รหัสไปรษณีย์</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="head-text">เบอร์ติดต่อ</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="head-text">ช่องทางการจัดส่ง</ion-label>
        </ion-row>
      </ion-col>
      <ion-col col-8>
        <ion-row>
          <ion-label class="desc-text"
            >{{ items["destination"]["fname"] }}
            {{ items["destination"]["lname"] }}</ion-label
          >
        </ion-row>
        <ion-row>
          <ion-label class="desc-text">{{
            items["destination"]["address"]
          }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="desc-text">{{
            items["destination"]["province"]
          }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="desc-text">{{
            items["destination"]["zipcode"]
          }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="desc-text"
            >{{ items["destination"]["telephone"] }}.</ion-label
          >
        </ion-row>
        <ion-row>
          <ion-label class="desc-text">{{ items["delivery_type"] }}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <!--
  <ion-grid>
    <ion-row *ngFor="let item of items['order']">
      <ion-col col-3 align-self-center no-padding>
        <img [src]="items['image']">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-label class="normal-text">{{item['name']}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="quantity-text">Quantity</ion-label>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row>
          <ion-label class="normal-text">{{item['price']}} ฿</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="quantity-text">x{{item['quantity']}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
    <ion-label class="bold">ค่าใช้จ่าย</ion-label>
    <div class="address-2">
      <ion-grid>
        <ion-row>
          <ion-label item-start>ค่าสินค้า</ion-label>
          <ion-label item-end class="price-text bold">{{
            items["price"]["product_price"]
          }}</ion-label>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-label item-start>ค่าจัดส่ง</ion-label>
          <ion-label item-end class="price-text bold">{{
            items["price"]["shipping_price"]
          }}</ion-label>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-label item-start>รวมทั้งหมด</ion-label>
          <ion-label item-end class="price-text bold">{{
            items["price"]["total_price"]
          }}</ion-label>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="type === 'preorder'">
    <ion-card class="card anim-fadeInRight_{{ i }}">
      <div class="box-details">
        <div class="image-div" style="width: 100%; text-align: right;">
          <img
            style="border-radius: 11px;"
            class="product-img"
            [src]="items['order_list']['product_image']"
            onError="this.src='assets/imgs/imgicon.png';"
          />
        </div>
        <ion-label text-wrap no-margin>{{ items['order_list']["product_name"] }}</ion-label>
        <ion-label text-wrap no-margin
          >จำนวน {{ items['order_list']["amount"] || items["quantity"] }}</ion-label
        >
          <ion-label no-margin text-wrap>รายละเอียด</ion-label>
          <ion-label no-margin text-wrap
            >- {{ items["order_list"]['product_description'] }}</ion-label
          >
        <ion-label class="right-text"
          >{{ items["order_list"]["product_price"] }} บาท</ion-label
        >
      </div>
    </ion-card>
    <br />
    <ion-label class="bold">สถานะการสั่งซื้อ</ion-label>
    <ion-grid class="address-2">
      <ion-row row-no-padding>
        <ion-col col-4 no-padding>
          <ion-label class="head-text">Order No.</ion-label>
        </ion-col>
        <ion-col col-8 no-padding>
          <ion-label text-wrap class="desc-text">{{
            items["order_id"]
          }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row row-no-padding>
        <ion-col col-4 no-padding>
          <ion-label class="head-text">Status</ion-label>
        </ion-col>
        <ion-col col-8 no-padding>
          <ion-label text-wrap class="desc-text">{{
            items["order_status_text"]
          }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row row-no-padding>
        <ion-col col-4 no-padding>
          <ion-label class="head-text">Date</ion-label>
        </ion-col>
        <ion-col col-8 no-padding>
          <ion-label text-wrap class="desc-text">{{
            items["timestamp"]["order_time"]
          }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-label class="bold">ค่าใช้จ่าย</ion-label>
    <div class="address-2">
      <ion-grid>
        <ion-row>
          <ion-label item-start>รวมทั้งหมด</ion-label>
          <ion-label item-end class="price-text bold">{{
            items["order_list"]["product_price"]
          }}</ion-label>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
