page-mmp-order-history-detail {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .price-text {
    float: right;
    text-align: right;
  }
  .bold {
    font-weight: bold;
    font-size: 18px;
  }
  .grid {
    background-color: white;
  }
  .head-text {
    color: gray;
  }

  img {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
  }
  .quantity-text {
    // color: #f58240;
    color: #f7901f;
    font-size: 12px;
  }
  .normal-text {
    font-size: 12px;
  }

  .center-img-col {
    display: flex;
    justify-content: center;
  }
  .center-img-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .address {
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 9px;
  }
  .address-2 {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 9px;
  }

}
page-mmp-order-history-detail img {
  width: 100%;
  height: 100%;
  border: 0px solid #f7901f;
}