page-main-menu-order-tracking-detail-preorder {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .price-text {
    float: right;
    text-align: right;
  }
  .bold {
    color: #ffffff;
    font-size: 18px;
  }
  ion-item {
    margin: 20px;
  }
  ion-row {
    background: #231f20 !important;
    color: #fff !important;
    font-size: 14px !important;
  }
  /*
      img {
        width: 100px;
        height: 100px;
        border: 1px solid gray;
      }
      */
  .quantity-text {
    // color: #f58240;
    color: #f7901f;
    font-size: 12px;
  }
  img {
    border-radius: 11px;
  }
  .normal-text {
    font-size: 12px;
  }
  ion-row {
    background: #ffffff;
    margin-left: 1px;
    margin-right: 1px;
  }
  .footer-button {
    // background-color: #f58240;
    background-color: #f7901f;
  }
  .center-ion-col {
    display: flex;
    justify-content: center;
  }
  .center-ion-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  ion-grid {
    border-radius: 15px;
  }
  //
  .address {
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 9px;
  }
  //
  // Circle Spinner
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .circle-spin-blank {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: -webkit-radial-gradient(
      45px 45px,
      circle cover,
      #dadada,
      #a5a4a4
    );

    animation-name: spin;
    animation-duration: 3s; /* 3 seconds */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .circle-spin-check {
    //z-index: -1;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: -webkit-radial-gradient(
      45px 45px,
      circle farthest-corner,
      #f7901f,
      #f7901f
    );
    animation-name: spin;
    animation-duration: 3s; /* 3 seconds */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .checkmark {
    //z-index: 1;
    content: " ";
    width: 0.6em; // the short bar of the mark is half as long as the long bar
    height: 1.2em;
    border: solid white;
    border-width: 0 0.2em 0.2em 0; // creates the inverted "L" shape
    position: relative;
    left: 1em;
    top: 30%;
    margin-top: -0.2em;
    -webkit-transform: rotate(45deg); // tilts the shape
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
