<ion-header no-border no-lines no-shadow>
  <ion-navbar>
    <ion-title>เลขที่ : {{ items["order_id"] }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <ion-label class="bold">รายละเอียดการสั่งซื้อ</ion-label>
  <ion-card class="card anim-fadeInRight_{{ i }}">
    <div class="box-details-dark">
      <div class="image-div" style="width: 100%; text-align: right;">
        <img
          style="border-radius: 11px;"
          class="product-img"
          [src]="items['order_list']['product_image']"
          onError="this.src='assets/imgs/imgicon.png';"
        />
      </div>
      <ion-label text-wrap no-margin>{{
        items["order_list"]["product_name"]
      }}</ion-label>
      <ion-label text-wrap no-margin
        >จำนวน
        {{ items["order_list"]["amount"] || items["quantity"] }}</ion-label
      >
      <ion-label no-margin text-wrap>รายละเอียด</ion-label>
      <ion-label no-margin text-wrap
        >- {{ items["order_list"]["product_description"] }}</ion-label
      >
      <ion-label class="right-text"
        >{{ items["order_list"]["product_price"] }} บาท</ion-label
      >
    </div>
  </ion-card>
  <br />

  <ion-label class="bold">สถานะการขนส่ง</ion-label>
  <div class="box-details-dark" >
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(6) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(6) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>
          <!--จัดส่งเรียบร้อย-->คำสั่งซื้อเสร็จสมบูรณ์</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(5) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(5) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>
          <!--รอจัดส่งเรียบร้อย-->ร้านค้าทำการจัดส่งแล้ว</ion-label>
        <ion-label *ngIf="CheckOrderTrackingExist() == true" item-start>{{items['order_tracking']}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(4) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(4) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>
          <!--รอผลิตสินค้า-->ร้านค้ายืนยันการชำระเงิน (กำลังดำเนินการผลิต)</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(3) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(3) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>รอยืนยันการชำระเงิน</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(2) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(2) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>รอชำระเงิน</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ng-container *ngIf="MarkStatus(1) == true">
          <div class="circle-spin-check"></div>
          <div class="checkmark"></div>
        </ng-container>
        <ng-container *ngIf="MarkStatus(1) == false">
          <div class="circle-spin-blank"></div>
        </ng-container>
      </ion-col>
      <ion-col col-10>
        <ion-label item-start>
          <!--สั่งซื้อสำเร็จ--> รอยืนยันคำสั่งซื้อ</ion-label>
      </ion-col>
    </ion-row>
  </div>
  <ion-label class="bold">สถานะการสั่งซื้อ</ion-label>
  <div class="box-details-dark">
    <div style="width: 100%; text-align: center; font-size: 18px;">{{items["order_status_text"]}}</div>
  </div>
  <br>
  <ion-grid class="box-details-dark">
    <ion-row row-no-padding>
      <ion-col col-4 no-padding>
        <ion-label class="head-text">Order No.</ion-label>
      </ion-col>
      <ion-col col-8 no-padding>
        <ion-label text-wrap class="desc-text">{{
          items["order_id"]
        }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row row-no-padding>
      <ion-col col-4 no-padding>
        <ion-label class="head-text">Status</ion-label>
      </ion-col>
      <ion-col col-8 no-padding>
        <ion-label text-wrap class="desc-text">{{
          items["order_status_text"]
        }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row row-no-padding>
      <ion-col col-4 no-padding>
        <ion-label class="head-text">Date</ion-label>
      </ion-col>
      <ion-col col-8 no-padding>
        <ion-label text-wrap class="desc-text">{{
          items["timestamp"]["order_time"]
        }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-label class="bold">ค่าใช้จ่าย</ion-label>
  <div class="box-details-dark">
    <ion-grid>
      <ion-row>
        <ion-label item-start>รวมทั้งหมด</ion-label>
        <ion-label item-end class="price-text bold">{{
          items["order_list"]["product_price"]
        }}</ion-label>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer padding no-border no-lines no-shadow>
  <div *ngIf="IsOrderType() == true" color="dark">
    <button style="background: #231f20; border-radius: 50px;" ion-button full class="footer-button" (click)="PAYMENTINFORM_CLICK ()">แจ้งชำระเงิน</button>
    <button style="background: #231f20; border-radius: 50px;" ion-button full class="footer-button" (click)="CANCEL_CLICK ()">ยกเลิกใบสั่งซื้อ</button>
  </div>
  <div *ngIf="IsOrderType() == false" color="dark">
    <button style="background: #231f20; border-radius: 50px;" ion-button full [disabled]="CheckLevelForComment()" class="footer-button"
      (click)="CONFIRM_CLICK ()">ยืนยันการรับสินค้า</button>
  </div>
</ion-footer>