page-main-menu-profile {
    .name-text {
        // color: #f58240;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    .member-text {
        color: gray;
        text-align: center;
    }
    .profile-image {
        display: block;
        border-radius: 50%;
        border: 3.2px solid #fff;
        width: 100px;
        height: 100px;
        margin: 30px auto 0;
    }
    .menu-icon {
        margin-top: 6px;
        position: absolute;
        background: #231f20;
        height: 16vw;
        width: 16vw;
        border-radius: 13px;
        text-align: center;
        color: #fff;
        font-size: 3.8vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .menu-text {
        padding-left: 47px;
        position: absolute;
        font-size: 2.8vh;
        display: flex;
        align-items: center;
        justify-content: center; 
        text-align: center;
    }
    .menu-block {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .menu-block-center{
        color: #1e1e1e;
        font-family: 'Kanit', sans-serif;
        background: rgb(255, 255, 255);
        padding: 6px;
        border-radius: 13px;
        margin-top: 22px;
        margin-left: 8%;
        height: 19.6vw;
    }
    ion-footer{
        font-family: 'Kanit', sans-serif;
    }
    .ion-line {
        border: 3.2px solid #fff;
    }
    .button-1 {
        // color: #f58240;
        color: #fff;
    }
    .button-2 {
      margin-top: 10px;
        color: gray;
        //font-size: 40px;
        height: 40px;
        width: 40px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*
        align-items: center;
        justify-content: center;
        */
    }
    .button-2-text {
        // color: #f58240;
        color: #fff;
        text-align: center;
        //margin-top: -20px;
    }
    .bg-drak {
        background: #231f20;
    }
}
.bg {
    background-color: #f7901f;        // background-color: #f58240;
    background-color: #f7901f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Kanit', sans-serif;
}
