<ion-header no-border no-lines no-shadow>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
  
</ion-header>


<ion-content padding class="bg">
  <ion-grid>
    <ion-row>
      <img class="profile-image" [src]="info['image']" onError="this.src='assets/imgs/profile.png';">
    </ion-row>
    <ion-row (click)="EDITPROFILE_CLICK()">
      <ion-label class="name-text">{{info['pname']}} {{info['fname']}} {{info['lname']}} <ion-icon name="create"></ion-icon>
      </ion-label>
    </ion-row>

    <!--
    <ion-row>
      <ion-label class="member-text">Member since {{info['join_date']}}</ion-label>
    </ion-row>
  -->
  </ion-grid>

  <div class="menu-block" (click)="ADDRESS_CLICK()">
    <div class="menu-icon">
      <ion-icon ios="ios-home" md="md-home"></ion-icon>
    </div>
    <div class="menu-block-center">
      <div style="padding-left: 13%; font-size: 18px; margin-top: 5.3%;">
        ที่อยู่ในการจัดส่ง
      </div>
    </div>
  </div>
  <!--
  <div class="menu-block" (click)="CREDIT_CLICK()">
    <div class="menu-icon">
      <ion-icon ios="ios-card" md="md-card"></ion-icon>
    </div>
    <div class="menu-block-center">
      <div style="padding-left: 13%; font-size: 18px; margin-top: 5.3%;">
        บัตรเครดิต
      </div>
    </div>
  </div>
  -->
  
  <div class="menu-block" (click)="ORDER_CLICK()">
    <div class="menu-icon">
      <ion-icon ios="ios-cash" md="md-cash"></ion-icon>
    </div>
    <div class="menu-block-center">
      <div style="padding-left: 13%; font-size: 18px; margin-top: 5.3%;">
        ประวัติการสั่งซื้อ
      </div>
    </div>
  </div>  
<!-- 
  <ion-grid>
    <ion-row>
      <ion-col (click)="ADDRESS_CLICK()" col-4 align-items-center style="margin: auto">
        <img class="button-2" src="assets/imgs/bookaddressicon.png">
        <ion-label text-center text-wrap class="button-2-text">ที่อยู่จัดส่ง</ion-label>
      </ion-col>
      <ion-col (click)="CREDIT_CLICK()" col-4>
        <img class="button-2" src="assets/imgs/creditcardicon.png">
        <ion-label text-center text-wrap class="button-2-text">บัตรเครดิต</ion-label>
      </ion-col>
      <ion-col (click)="ORDER_CLICK()" col-4>
        <img class="button-2" src="assets/imgs/historyicon.png">
        <ion-label text-center text-wrap class="button-2-text">ประวัติการสั่งซื้อ</ion-label>
      </ion-col> -->
      <!--
      <ion-col (click)="ADDRESS_CLICK()" col-4 align-items-center style="margin: auto">
        <ion-icon text-center class="button-2" name="book"></ion-icon>
        <ion-label text-center text-wrap class="button-2-text">Address Book</ion-label>
      </ion-col>
      <ion-col (click)="CREDIT_CLICK()" col-4>
        <ion-icon text-center class="button-2" name="card"></ion-icon>
        <ion-label text-center text-wrap class="button-2-text">Credit Cards</ion-label>
      </ion-col>
      <ion-col (click)="ORDER_CLICK()" col-4>
        <ion-icon class="button-2" name="time"></ion-icon>
        <ion-label text-center text-wrap class="button-2-text">Order History</ion-label>
      </ion-col>
      -->
    <!-- </ion-row>
  </ion-grid> -->

</ion-content>

<ion-footer no-border no-lines no-shadow (click)="LOGOUT_CLICK()">
  <ion-toolbar color="dark">
    <ion-title text-center>
      <ion-icon name="log-out"></ion-icon>
      ออกจากระบบ
    </ion-title>
  </ion-toolbar>
</ion-footer>
