page-main-menu-promotion-detail {
    .bg-color {
        background-color: color($colors, gray_background, base);
      }
      .card {
        width: 97%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 11px;
        box-shadow: none;
        border-radius: 11px;
        background: #231f20;
        img {
            border-radius: 9px;
        }
      }
      .head-text {
        // color: #f58240;
        color: #f7901f;
        font-weight: bold;
        font-size: 16px;
      }
      .desc-text {
        color: #fff;
        font-size: 13px;
      }
      .foot-div{
        color: #fff;
        padding: 9px;
        background: #231f20;
        border-radius: 0 0 9px 9px;
      }
}
