<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>โปรโมชั่น</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">

  <ion-card class="card">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center col-12>
          <ion-slides #slider pager="true" autoplay="3000" (ionSlideWillChange)="onSlideChanged()">
            <ion-slide *ngFor="let slide of item['image']">
              <img [src]="slide" onError="this.src='assets/imgs/imgicon.png';">
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label text-wrap class="head-text">{{item['topic']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label text-wrap class="date-text">{{item['date']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label text-wrap class="desc-text">{{item['detail']}}</ion-label>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>



<ion-footer *ngIf="product_exist === true" no-border no-lines no-shadow (click)="PRODUCT_CLICK()">
  <ion-toolbar color="dark">
    <ion-title text-center>
      <ion-icon name="arrow-forward"></ion-icon>
      ไปยังสินค้า
    </ion-title>
  </ion-toolbar>
</ion-footer>
