<ion-header no-border no-lines no-shadow>
    <ion-navbar>
    <ion-title>สั่งซื้อสินค้า</ion-title>
    <ion-buttons right class="bg">
      <button ion-button clear class="notif-badge header-button" (click)="CART_CLICK ()">
        <ion-icon name="cart">
          <ion-badge class="notif-badge-number">{{cart_count}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-tabs tabsPlacement="top" selectedIndex="0" tabsHighlight="true" color="primary" no-border no-lines no-shadow class="bg">
  <ion-tab [root]="mainMenuOrderInstockRoot" tabTitle="สินค้าพร้อมส่ง"></ion-tab>
  <ion-tab [root]="mainMenuOrderPreorderRoot" tabTitle="พรีออเดอร์/สั่งผลิต"></ion-tab>
  <ion-tab [root]="mainMenuOrderDetailRoot" tabTitle="-----" show="false"></ion-tab>
</ion-tabs>
