page-main-menu-order-tabs {
  .notif-badge {
    position: relative;
  }
  .notif-badge-number {
    position: absolute;
    top: -8px;
    right: 18px;
    font-size: 0.4em;
    background: red;
    color: white;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
  }
  .header-button {
    font-size: 30px;
  }
}
