<ion-header>
  <ion-navbar>
    <ion-title class="bold">รายละเอียดการสั่งซื้อ</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="DISMISS_CLICK()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <div class="box-details-dark" *ngFor="let item of order_info['order_list']; let i = index">
    <img width="100%" [src]="item['product_image']" onError="this.src='assets/imgs/imgicon.png';">
    <div>{{item['product_name']}}</div>
    <div>จำนวน {{item['amount']}}</div>
    <div *ngFor="let itm of item['options']">- {{itm['option_filter_name']}}</div>
  </div>
</ion-content>
