page-main-menu-cart-list {
    .bg-color {
      background-color: color($colors, gray_background, base);
    }
    .footer-button {
      // background-color: #f58240;]
      background-color: #f7901f;
    }
    .card {
      box-shadow: none;
    }
    .image-div {
      position: relative;
    }
    .product-img {
      z-index: 0;
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
    }
    .right-text {
      float: right;
      text-align: right;
      font-size: 22px;
      font-family: 'Kanit', sans-serif;
    }
    .amount-btn {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 1.5rem;
      color: #f58240;
      background-color: #e0dee1;
      border: 1px solid white;
    }
    .toolbar-button {
      font-size: 2.4rem;
      margin: 0;
      padding: 0 6px;
      text-align: start;
      font-weight: normal;
    }
    .delete-btn {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      padding: 0;
    }
    .total-background {
      margin-top: 13px;
      background-color: #231f20;
      border-radius: 11px;
      color: #fff;
    }
    .center-img-col {
      display: flex;
      justify-content: center;
    }
    .center-img-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    ion-segment {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      background: #231f20;

      ion-segment-button.segment-button.segment-activated {
        border-color: white !important;
      }
    }
}
.box-details {
  background: #fff;
  border-radius: 11px;
  padding: 6px;
}