<ion-header no-border no-lines no-shadow>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear class="header-button" (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ตะกร้าสินค้า</ion-title>
  </ion-toolbar>

  <ion-row>
    <ion-col col-6>
      <button color="dark" round ion-button full (click)="CONTINUE_CLICK()">เลือกสินค้าต่อ</button>
    </ion-col>
    <ion-col col-6>
      <button color="dark" round ion-button full (click)="PURCHASE_CLICK()" [disabled]="IsEmptyCart()">สั่งซื้อสินค้า</button>
    </ion-col>
  </ion-row>

  <!-- Old code with tab page (order-preorder)
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="category" (ionChange)="onTabChanged($event)">
        <ion-segment-button value="instock">
          <a style="font-family: 'Kanit', sans-serif; color: white;">สินค้าพร้อมส่ง</a>
        </ion-segment-button>
        <ion-segment-button value="preorder">
          <a style="font-family: 'Kanit', sans-serif; color: white;">พรีออเดอร์/สั่งผลิต</a>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  --> 
</ion-header>


<ion-content padding class="bg">
  <ion-card *ngFor="let item of data; let i = index" class="card anim-fadeInRight_{{i}}">
    <div class="box-details">
      <div class="image-div" style="width: 100%; text-align: right;">
        <img style="border-radius: 11px;" ion-button clear class="delete-btn" src="assets/imgs/closeicon.png" (click)="DELETE_CLICK (item, i)">
        <img style="border-radius: 11px;" class="product-img" [src]="item['product']['product_image']" onError="this.src='assets/imgs/imgicon.png';">
      </div>
      <ion-label text-wrap no-margin>{{item['product']['product_name']}}</ion-label>
      <ion-label text-wrap no-margin>จำนวน {{item['product']['amount'] || item['quantity']}} </ion-label>
      <ion-row *ngFor="let itm of item['product']['options']">
        <ion-label no-margin text-wrap>- {{itm['option_filter_name']}}</ion-label>
      </ion-row>
      <ion-label class="right-text">{{item['product']['price']['total_price']}} บาท</ion-label>
    </div>
  </ion-card>
  <ion-row *ngIf="data.length !== 0" class="total-background">
    <ion-label item-end class="right-text">รวมทั้งหมด {{total}} บาท</ion-label>
  </ion-row>
  <!-- Old code with tab page (order-preorder)
  <div [ngSwitch]="category" swipeSegment [tabsList]="categories" [(currentTab)]="category" class="swipe-area">
    <div *ngIf="category === 'instock'">
      <ion-card *ngFor="let item of data; let i = index" class="card anim-fadeInRight_{{i}}">
        <div class="box-details">
          <div class="image-div" style="width: 100%; text-align: right;">
            <img style="border-radius: 11px;" ion-button clear class="delete-btn" src="assets/imgs/closeicon.png" (click)="DELETE_CLICK (item, i)">
            <img style="border-radius: 11px;" class="product-img" [src]="item['product']['product_image']" onError="this.src='assets/imgs/imgicon.png';">
          </div>
          <ion-label text-wrap no-margin>{{item['product']['product_name']}}</ion-label>
          <ion-label text-wrap no-margin>จำนวน {{item['product']['amount'] || item['quantity']}} </ion-label>
          <ion-row *ngFor="let itm of item['product']['options']">
            <ion-label no-margin text-wrap>- {{itm['option_filter_name']}}</ion-label>
          </ion-row>
          <ion-label class="right-text">{{item['product']['price']['total_price']}} บาท</ion-label>
        </div>
      </ion-card>
      <ion-row *ngIf="data.length !== 0" class="total-background">
        <ion-label item-end class="right-text">รวมทั้งหมด {{total}} บาท</ion-label>
      </ion-row>
    </div>
    <div *ngIf="category === 'preorder'">
      <ion-card *ngFor="let item of data_preorder; let i = index" class="card anim-fadeInRight_{{i}}">
        <div class="box-details">
          <div class="image-div" style="width: 100%; text-align: right;">
            <img style="border-radius: 11px;" ion-button clear class="delete-btn" src="assets/imgs/closeicon.png" (click)="DELETE_PREORDER_CLICK (i)">
            <img style="border-radius: 11px;" class="product-img" [src]="item['product']['order_list']['product_image']" onError="this.src='assets/imgs/imgicon.png';">
          </div>
          <ion-label text-wrap no-margin>{{item['product']['order_list']['product_name']}}</ion-label>
          <ion-label text-wrap no-margin>จำนวน {{item['product']['order_list']['amount'] || item['quantity']}} </ion-label>
          <ion-label text-wrap no-margin>รายละเอียด</ion-label>
          <ion-label text-wrap no-margin>{{item['product']['order_list']['product_description']}}</ion-label>
          <ion-label class="right-text">{{item['product']['order_list']['product_price']}} บาท</ion-label>
        </div>
      </ion-card>
    </div>
  </div>
  -->
</ion-content>


<!-- UNUSED -->
<!--
<ion-content padding class="bg" *ngIf="false">

    <ion-card *ngFor="let item of data; let i = index" class="card anim-fadeInRight_{{i}}">
      <div class="box-details">
        <div class="image-div" style="width: 100%; text-align: right;">
          <img style="border-radius: 11px;" ion-button clear class="delete-btn" src="assets/imgs/closeicon.png" (click)="DELETE_CLICK (item, i)">
          <img style="border-radius: 11px;" class="product-img" [src]="item['product']['product_image']" onError="this.src='assets/imgs/imgicon.png';">
        </div>
        <ion-label text-wrap no-margin>{{item['product']['product_name']}}</ion-label>
        <ion-label text-wrap no-margin>จำนวน {{item['product']['amount'] || item['quantity']}} </ion-label>
        <ion-row *ngFor="let itm of item['product']['options']">
          
          <ion-label no-margin text-wrap>- {{itm['option']}}</ion-label>
          
          <ion-label no-margin text-wrap>- {{itm['option_filter_name']}}</ion-label>
        </ion-row>
        <ion-label class="right-text">{{item['product']['price']['total_price']}} บาท</ion-label>
  
      </div>
    </ion-card>
  
  
    <ion-row *ngIf="data.length !== 0" class="total-background">
      <ion-label item-end class="right-text">รวมทั้งหมด {{total}} บาท</ion-label>
    </ion-row>
  
  </ion-content>
-->
<!--
<ion-content no-padding class="bg-color">
  <ion-card *ngFor="let item of data; let i = index" class="card">
    <ion-row no-padding>
      <ion-col col-4>
        <div class="image-div">
          <img ion-button clear class="delete-btn" src="assets/imgs/closeicon.png" (click)="DELETE_CLICK (item)">
          <img class="product-img" [src]="item['product']['product_image']" onError="this.src='assets/imgs/imgicon.png';">
        </div>
      </ion-col>
      <ion-col col-6>
        <ion-row no-padding>
          <ion-label text-wrap no-margin>{{item['product']['product_name']}}</ion-label>
        </ion-row>

        <ion-row no-padding>
          <ion-label no-margin>จำนวน</ion-label>
        </ion-row>
        <ion-row no-padding>
          <button ion-button small no-margin class="amount-btn" (tap)="DEC_ORDER_TAP(item, i)">-</button>
          <p no-margin>{{item['quantity']}}</p>
          <button ion-button small no-margin class="amount-btn" (tap)="INC_ORDER_TAP(item, i)">+</button>
        </ion-row>

        <ion-row no-padding>
          <ion-label no-margin>จำนวน {{item['product']['product_price']['count']}} {{item['product']['product_unit']}}</ion-label>
        </ion-row>
        <ion-row no-padding>
          <ion-label no-margin>ขนาด {{item['product']['product_price']['size']}}</ion-label>
        </ion-row>

        <ion-row no-padding>
          <ion-label no-margin>ระยะเวลาผลิต วัน</ion-label>
        </ion-row>

      </ion-col>
      <ion-col col-2>
        <ion-row>
          <ion-label no-margin class="right-text">{{item['product']['product_price']['price']}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row *ngIf="data.length !== 0" class="total-background">
    <ion-label item-start>ยอดรวม</ion-label>
    <ion-label item-end class="right-text">{{total}}</ion-label>
  </ion-row>
</ion-content>
-->
