page-main-menu-profile-address-book-add {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .transparent {
    background-color: transparent;
    // font-size: 12px;
    // color: #000000;
  }
  .footer-button {
    // background-color: #f58240;
    background-color: #f7901f;
  }
}
