<ion-header no-border no-lines no-shadow>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>เพิ่มที่อยู่จัดส่ง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <div class="details-box">
    <form [formGroup]="credentialsForm">
      <ion-item class="transparent">
        <ion-label floating style="color:black;">ชื่อ</ion-label>
        <ion-input [formControl]="credentialsForm.controls['fname']" type="text"></ion-input>
      </ion-item>
      <ion-item class="transparent">
        <ion-label floating style="color:black;">นามสกุล</ion-label>
        <ion-input [formControl]="credentialsForm.controls['lname']" type="text"></ion-input>
      </ion-item>
      <ion-item class="transparent">
        <ion-label floating style="color:black;">ที่อยู่</ion-label>
        <ion-input [formControl]="credentialsForm.controls['address']" type="text"></ion-input>
      </ion-item>
      <ion-item class="transparent">
        <ion-label floating style="color:black;">เมือง</ion-label>
        <ion-input [formControl]="credentialsForm.controls['city']" type="text"></ion-input>
      </ion-item>
      <ion-item class="transparent">
        <ion-label floating style="color:black;">จังหวัด</ion-label>
        <ion-input [formControl]="credentialsForm.controls['province']" type="text"></ion-input>
      </ion-item>
      <ion-item class="transparent">
        <ion-label floating style="color:black;">รหัสไปรษณีย์</ion-label>
        <ion-input [formControl]="credentialsForm.controls['zipcode']" type="text"></ion-input>
      </ion-item>
      <ion-item class="transparent">
        <ion-label floating style="color:black;">เบอร์ติดต่อ</ion-label>
        <ion-input [formControl]="credentialsForm.controls['telephone']" type="text"></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>

<ion-footer no-border no-lines no-shadow>
  <ion-toolbar color="dark" (click)="ADD_CLICK()" *ngIf="credentialsForm.valid === true">
    <ion-title text-center>
      <ion-icon name="checkmark-circle"></ion-icon> บันทึกข้อมูล
    </ion-title>
  </ion-toolbar>
</ion-footer>
