<ion-content class="modal-radius">
<div style="width: 100%; text-align: right; padding: 16px;">
    <ion-icon style="color: #fff; font-size: 32px;" name="close-circle" (click)="DISMISS_CLICK()"></ion-icon>
</div>
  <ion-row no-padding >
    <ion-item color="dark" no-lines style="color: #fff;">
      <ion-label fixed>จำนวน</ion-label>
      <ion-input placeholder="0" type="number" clearInput [(ngModel)]="amount" (ionChange)="onChanged($event, 0)"></ion-input>
    </ion-item>
    <ion-item color="dark" no-lines>
      <ion-label>ตัวเลือก</ion-label>
    </ion-item>
    <ion-item color="dark" no-lines>
      <ion-label text-wrap>มีไฟล์ออกแบบ (คิดราคาเพิ่ม 100 กรณีไม่มีไฟล์ออกแบบ)</ion-label>
      <ion-checkbox [(ngModel)]="checkbox" (ionChange)="checkDesignPattern()"></ion-checkbox>
    </ion-item>

    <ion-col col-12 *ngIf="IsDesignPatternCheck()">
      <div ion-button full>
        <ion-label>เลือกไฟล์ออกแบบ</ion-label>
        <input type="file" class="upload" (change)="CHANGE_PATTERN_IMAGE($event)"/>
      </div>
    </ion-col>
    <ion-col col-12 *ngIf="IsDesignPatternCheck()">
      <div *ngIf="isimageloading" class="center-css">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>
      <div *ngIf="!isimageloading">
        <img class="img-product" [src]="design_pattern_img" onError="this.src='assets/imgs/profile.png';">
      </div>
    </ion-col>
    <ion-item color="dark" *ngFor="let product of product_info_list; let i = index" no-lines style="color: #fff;">
      <ion-label>{{product['option_name']}}</ion-label>
      <ion-select [(ngModel)]="array_list[i]" (ionChange)="onChanged($event, i)" interface="popover">
        <ion-option value="init">กรุณาเลือกขนาดสินค้า</ion-option>

        <ion-option *ngFor="let item of product['list_option']" [value]="item">
          {{item['option']}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item color="dark" no-lines>
      <ion-label item-start>ราคา</ion-label>
      <ion-label item-end class="price-text">
        {{sum_total}}
      </ion-label>
    </ion-item>
  </ion-row>

</ion-content>

<ion-footer>
  <button ion-button full class="footer-button" (click)="ADD_TO_CART_CLICK()" [disabled]="IsEmpty()">สั่งซื้อสินค้า</button>
</ion-footer>

<!--
<ion-content class="modal-radius">
  <ion-row no-padding>
    <ion-col col-4>
      <img class="img-product" [src]="product_info['product_image']">
    </ion-col>
    <ion-col col-6>

      <ion-row *ngIf="isarray == false">
        <ion-label>{{product_info['product_price']['price']}} {{product_info['product_price']['currency']}}</ion-label>
      </ion-row>
      <ion-row *ngIf="isarray == false">
        <ion-label>สินค้าคงเหลือ : {{product_info['product_stock']}}</ion-label>
      </ion-row>

    </ion-col>
    <ion-col col-2>
      <img ion-button clear class="close-button" src="assets/imgs/closeicon.png" (click)="DISMISS_CLICK()">
    </ion-col>
  </ion-row>
  <ion-row>

  </ion-row>

  <ion-row *ngIf="isarray == false">
    <ion-col col-6>
      <ion-label item-start>จำนวน</ion-label>
    </ion-col>
    <ion-col col-2 text-center>
      <button ion-button clear class="amount-button" (click)="DEC_CLICK()">-</button>
    </ion-col>
    <ion-col col-2 text-center>
      <ion-label class="text-center">{{amount}}</ion-label>
    </ion-col>
    <ion-col col-2 text-center>
      <button ion-button clear class="amount-button" (click)="INC_CLICK()">+</button>
    </ion-col>
  </ion-row>
  <ion-row no-padding *ngIf="isarray == false">
    <ion-col col-10>
      <ion-label item-start>ระยะเวลาผลิต (ไม่รวมจัดส่ง)</ion-label>
    </ion-col>
    <ion-col col-2 text-center>
      <ion-label item-end>{{product_info['product_time']}} วัน</ion-label>
    </ion-col>
  </ion-row>
  <ion-row no-padding *ngIf="isarray == true">
    <ion-item>
      <ion-label>เลือกขนาดสินค้า</ion-label>
      <ion-select [(ngModel)]="selected_1" (ionChange)="onChangedSize($event)">
        <ion-option value="init">กรุณาเลือกขนาดสินค้า</ion-option>
        <ion-option *ngFor="let price of size_list" [value]="price">
          {{price}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>เลือกจำนวนสินค้า</ion-label>
      <ion-select [(ngModel)]="selected_2" (ionChange)="onChangedCount($event)">
        <ion-option value="init">กรุณาเลือกจำนวนสินค้า</ion-option>
        <ion-option *ngFor="let price of count_list" [value]="price">
          {{price}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label item-start>ราคา</ion-label>
      <ion-label item-end class="price-text" *ngIf="(isarray == true) && (selected_2 != 'init')">{{selected_info['price']}}
        {{selected_info['currency']}}</ion-label>
    </ion-item>
  </ion-row>

</ion-content>

<ion-footer>
  <button ion-button full class="footer-button" (click)="ADD_TO_CART_CLICK()" [disabled]="IsEmpty()">Add to cart</button>
</ion-footer>
-->
