page-main-menu-order-modal {
  .modal-radius {
    border-radius: 18px;
    background: #231f20;
  }
  ion-label {
    color: #fff;
  }
  ion-item{
    background: #231f20;
  }
  ion-option {
    color: #fff;
  }
  .text-center {
    text-align: center;
    align-items: center;
    align-self: center;
  }
  .img-product {
    width: 100%;
    height: 100%;
  }
  .footer-button {
    // background-color: #f58240;
    background-color: #f7901f;
    border-radius: 22px;
  }
  .close-button {
    padding: 0;
  }
  .amount-button {
    // color: #f58240;
    color: #f7901f;
    font-size: 3rem;
    padding: 0;
  }
  .price-text {
    font-weight: bold;
    text-align: right;
  }
  .upload {
    position: absolute;
    z-index: 1;
    //margin: 0;
    //padding: 0;
    font-size: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  ion-input {
    input {
      text-align: right;
    }
  }
  ion-select {
    max-width: 50% !important;
    white-space: pre-line;
  }
  .center-css {
    text-align: center;
  }
}

ion-modal.inset-modal-order-modal {
  /*
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 40vh 10vw;
  */
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  bottom: 0;
  min-height: initial;
  top: initial;
  padding-top: 10vh; // 60vh
  //height: 50%;
  border-width: 0px;
  border-style: solid;
}

/*
.modal.bottom-sheet{
  bottom: 0;
  min-height: initial;
  top: initial;
  height: 50%;
  border-width: 0px;
  border-style: solid;
  background-color:rgba(68, 68, 68, 0.92);
  color:white !important;
}
*/
