
<ion-header no-border no-lines no-shadow>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>สั่งซื้อสินค้า</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="bg">
  <ion-list>
    <ion-item text-wrap *ngFor="let item of items" (click)="GOTOORDERSUBPAGE_CLICK  (item)">
      <ion-thumbnail item-start>
        <img [src]="item.image">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
