
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="DOWNLOAD_CLICK()">
        <ion-icon name="download"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg-color">
  <ion-slides #slide_pic effect="coverflow" initialSlide="{{init_value}}">
    <ion-slide *ngFor="let slide of image_list">
      <img [src]="slide['message']" [ngClass]="image_class" (click)="PHOTO_CLICK()">
    </ion-slide>
  </ion-slides>
</ion-content>

<!--
<ion-footer class="footer-color">
  <ion-item>
    <button ion-button clear (click)="DOWNLOAD_CLICK()">
      <ion-icon class="footer-btn" md="md-download"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
-->
