page-main-menu-chat-image {

    .bg-color {
      background: #000000;
    }
    .img-slide-hidden {
      visibility: hidden;
    }
    .img-slide-no-hidden {
      visibility: visible;
    }
    .footer-btn {
      font-size: x-large;
      // color: #f58240;
      color: #f7901f;
    }
    .footer-color {
      background: #000000;
    }
}
