<ion-header no-border no-lines no-shadow>

  <ion-navbar>
    <ion-title>ชำระเงินผ่านธนาคาร</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-label class="label">ข้อมูลการโอนเงิน</ion-label>
  <ion-list class="list scb-color" (click)="BANK_CLICK(item)" *ngFor="let item of bank">
    <div>
      <ion-row>
        <ion-col col-3 style="padding: 18px;">
          <img [src]="item['image']">
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-label>ชื่อบัญชี</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>เลขที่บัญชี</ion-label>
          </ion-row>
        </ion-col>
        <ion-col col-6>
          <ion-row>
            <ion-label>: {{item['name']}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>: {{item['number']}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
  <!---
  <ion-list class="list scb-color"  (click)="BANK_CLICK(1)">
    <div>
      <ion-row>
          <ion-col col-3 style="padding: 18px;">
              <img src="assets/imgs/bank-scb.png">
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-label>ชื่อบัญชี</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>เลขที่บัญชี</ion-label>
          </ion-row>
        </ion-col>
        <ion-col col-6>
          <ion-row>
            <ion-label>: B-smart printing</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>: XXX-XXX-XXX</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
  <ion-list class="list kasikorn-color"  (click)="BANK_CLICK(2)">
    <div>
      <ion-row>
        <ion-col col-3 style="padding: 18px;">
          <img src="assets/imgs/bank-bank.png">
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-label>ชื่อบัญชี</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>เลขที่บัญชี</ion-label>
          </ion-row>
        </ion-col>
        <ion-col col-6>
          <ion-row>
            <ion-label>: B-smart printing</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>: XXX-XXX-XXX</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
  <ion-list class="list krungsri-color"  (click)="BANK_CLICK(3)">
    <div>
      <ion-row>
          <ion-col col-3 style="padding: 18px;">
              <img src="assets/imgs/bank-ayuthaya.png">
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-label>ชื่อบัญชี</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>เลขที่บัญชี</ion-label>
          </ion-row>
        </ion-col>
        <ion-col col-6>
          <ion-row>
            <ion-label>: B-smart printing</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>: XXX-XXX-XXX</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
  -->
</ion-content>
