page-main-menu-purchase-bank {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  ion-row {
    //border: 1px solid black;
    font-size: 16px;
    color: #231f20;
    border-radius: 11px;
    
  }
  .list {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .label {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
  }
  .scb-color {
    background-color: #fff;
    font-size: 12px;
  }
  .kasikorn-color {
    background-color: #fff;
  }
  .krungsri-color {
    background-color: #fff;
  }
}
