page-main-menu-order-detail-modal {
  .bg-color {
    background-color: #E0DEE1;
    border-radius: 18px;
  }
  .footer-button {
    // background-color: #f58240;
    background-color: #f7901f;
    border-radius: 20px;
  }
  .img-slide {
    width: 100%;
    height: 40%;
  }
  .bold {
    font-weight: bold;
    font-size: 16px;
  }
  .annoy-orange {
    // color: #f58240;
    color: #f7901f;
  }
  .desc-text {
    text-align: justify;
  }
  .div-close {
    position: relative;
    display: inline-block;
    float: right;
  }

  .close-button {
    // TODO - FIX
    width: 40px;
    height: 40px;
    padding: 0;
  }
}

ion-modal.inset-modal-order-detail {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity .25s ease-in-out;
  padding: 10vh 5vw;
}

