<ion-content padding class="bg-color">
  <ion-row no-padding>
    <ion-col>
      <div class="div-close">
        <img class="close-button" ion-button clear src="assets/imgs/closeicon.png" (click)="DISMISS_CLICK()">
      </div>
    </ion-col>
  </ion-row >
  <ion-row no-padding class="img-slide">
    <ion-slides #slider pager="true" autoplay="3000" (iobSlideWillChange)="onSlideChanged()">
      <ion-slide *ngFor="let slide of imgc">
        <img [src]="slide['img_collection']" onError="this.src='assets/imgs/imgicon.png';">
      </ion-slide>
    </ion-slides>
    <div class="" *ngIf="slideIndex >= imgc.length - 1">
      <button ion-button clear large full></button>
    </div>
  </ion-row>
  <ion-row>
    <ion-label class="bold" text-wrap>{{data['product_name']}}</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="annoy-orange" text-wrap>ระยะเวลาผลิต (ไม่รวมจัดส่ง): {{data['product_time']}} วัน</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="desc-text" text-wrap>{{data['product_description']}}</ion-label>
  </ion-row>
</ion-content>

<ion-footer>
  <button ion-button full class="footer-button" (click)="ADD_TO_CART_CLICK()">Add to cart</button>
</ion-footer>

