<ion-header no-border no-lines no-shadow>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear class="header-button" (click)="PROFILE_CLICK()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title middle>B-Smart</ion-title>
    <ion-buttons right>
      <button ion-button clear class="notif-badge header-button" (click)="CART_CLICK ()">
        <ion-icon name="cart">
          <ion-badge class="notif-badge-number">{{cart_count}}</ion-badge>
        </ion-icon>
        <!--
        <ion-icon name="cart">
          <span class="notif-badge-number">{{cart_count}}</span>
        </ion-icon>
      -->
      </button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-row class="img-button-row">
      <div class="img-button">
        <ion-icon ios="ios-cube" md="md-cube" (click)="ORDERMENU_CLICK()"></ion-icon>
        <div style="font-size: 13px">สินค้า</div>
      </div>
      <div class="img-button">
        <ion-icon ios="ios-pricetags" md="md-pricetags" (click)="PROMOTIONMENU_CLICK()"></ion-icon>
        <div style="font-size: 13px">โปรโมชัน</div>
      </div>

      <div class="img-button">
        <ion-icon ios="ios-copy" md="md-copy" (click)="NEWS_CLICK()"></ion-icon>
        <div style="font-size: 13px">ข่าวสาร</div>

      </div>

      <div class="img-button">
        <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" (click)="ORDERTRACKING_CLICK()"></ion-icon>
        <div style="font-size: 13px">ติดตาม</div>

      </div>

      <div class="img-button">
        <ion-icon  ios="ios-chatbubbles" md="md-chatbubbles" (click)="CHATMENU_CLICK()"></ion-icon>
        <div style="font-size: 13px">ติดต่อ</div>

      </div>

      <!--
      <img ion-button class="img-button" clear src="assets/imgs/newicon/order_icon.png" (click)="ORDERMENU_CLICK()">
      <img ion-button class="img-button" clear src="assets/imgs/newicon/promotion_icon.png" (click)="PROMOTIONMENU_CLICK()">
      <img ion-button class="img-button" clear src="assets/imgs/newicon/news_icon.png" (click)="NEWS_CLICK()">
      <img ion-button class="img-button" clear src="assets/imgs/newicon/jobtracking_icon.png" (click)="ORDERTRACKING_CLICK()">
      <img ion-button class="img-button" clear src="assets/imgs/newicon/chat_icon.png" (click)="CHATMENU_CLICK()">
      -->
    </ion-row>
    <!--
    <ion-slides pager loop autoplay>
      <ion-slide>
        <img style="border-radius: 6px; height: 128px;" width="100%" src="https://thinkofliving.com/wp-content/uploads/2017/08/tol-living-expo-2017-promotion-banner.png">
      </ion-slide>
      <ion-slide>
        <img style="border-radius: 6px; height: 128px;" width="100%" src="https://thinkofliving.com/wp-content/uploads/2017/08/tol-living-expo-2017-promotion-banner.png">
      </ion-slide>
      <ion-slide>
        <img style="border-radius: 6px; height: 128px;" width="100%" src="https://thinkofliving.com/wp-content/uploads/2017/08/tol-living-expo-2017-promotion-banner.png">
      </ion-slide>
    </ion-slides>
  -->
  <!-- Banner
    <ion-slides pager loop autoplay>
      <ion-slide *ngFor="let item of item_news_banner">
        <img class="banner" width="100%" [src]="item">
      </ion-slide>
    </ion-slides>
  -->
    <!--
    <ion-slides #slider spaceBetween="1" slidesPerView="5">
      <ion-slide>
        <img ion-button class="img-button" clear src="assets/imgs/newicon/order_icon.png" (click)="ORDERMENU_CLICK()">
      </ion-slide>
      <ion-slide>
        <img ion-button class="img-button" clear src="assets/imgs/newicon/promotion_icon.png" (click)="PROMOTIONMENU_CLICK()">
      </ion-slide>
      <ion-slide>
        <img ion-button class="img-button" clear src="assets/imgs/newicon/news_icon.png" (click)="NEWS_CLICK()">
      </ion-slide>
      <ion-slide>
        <img ion-button class="img-button" clear src="assets/imgs/newicon/jobtracking_icon.png" (click)="ORDERTRACKING_CLICK()">
      </ion-slide>
      <ion-slide>
        <img ion-button class="img-button" clear src="assets/imgs/newicon/chat_icon.png" (click)="CHATMENU_CLICK()">
      </ion-slide>
    </ion-slides>
  -->
  </ion-toolbar>

</ion-header>


<ion-content padding class="bg-color">

  <!-- <ion-card class="promotion-card anim-fadeInRight_0">
    <ion-row no-padding>
      <ion-col>
        <ion-label class="head-text">โปรโมชันประจำเดือน</ion-label>
      </ion-col>
      <ion-col text-right>
        <ion-label class="seeall-text" (click)="PROMOTIONMENU_CLICK()">
          เพิ่มเติม >
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-grid class="promotion-grid" *ngFor="let item of item_promotion">
      <ion-row no-padding class="promotion-list">
        <ion-col col-4 class="promotion-image center-ion-col">
          <ion-row class="center-ion-row">
            <img class="img" [src]="item['image'][0]">
          </ion-row>
        </ion-col>
        <ion-col col-8 class="promotion-description">
          <ion-row no-padding>
            <ion-label no-margin text-wrap class="head-text">{{item['topic']}}</ion-label>
          </ion-row>
          <ion-row no-padding>
            <ion-label no-margin text-wrap>{{item['detail']}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  <!--
    <ion-row no-padding>
      <ion-col>
        <ion-label class="head-text">โปรโมชันประจำเดือน</ion-label>
      </ion-col>
      <ion-col text-right>
        <ion-label class="seeall-text" (click)="PROMOTIONMENU_CLICK()">
          เพิ่มเติม >
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of item_promotion">
      <ion-col col-5>
        <img class="promo-img" [src]="item['image'][0]">
      </ion-col>
      <ion-col col-7>
        <ion-row no-padding>
          <ion-label no-margin text-wrap class="head-text">{{item['topic']}}</ion-label>
        </ion-row>
        <ion-row no-padding>
          <ion-label no-margin text-wrap>{{item['detail']}}</ion-label>
        </ion-row>

      </ion-col>
    </ion-row>
    -->
  <!-- </ion-card> -->

  <!--
  <div style="color: #fff; font-size: 14.8px;" (click)="ORDERMENU_CLICK()" class=" anim-fadeInRight_1">
    <ion-icon ios="ios-square" md="md-square"></ion-icon> สินค้าขายดี
  </div>
  
  <ion-card class=" anim-fadeInRight_1" (click)="ORDERMENU_CLICK()" style="background: rgba(182, 152, 152, 0);">
    <ion-row>
      <ion-col col-4 *ngFor="let item of items_bestseller; let i = index">
        <ng-container *ngIf="i < 3">
          <div style="height: 13vh;">
            <div style="position: absolute; z-index: -9; width: 100%; text-align: center;">
              <div class="loader loader--style8" title="7" style="padding-top: 4vh;">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
                  xml:space="preserve">
                  <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                  </rect>
                  <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                      repeatCount="indefinite" />
                  </rect>
                  <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
                      repeatCount="indefinite" />
                  </rect>
                </svg>
              </div>
            </div>
            <img style="border-radius: 6px 6px 0 0; height: 13vh;" class="best-img" [src]="item['product_image']">
          </div>
          <div style="background: #231f20; border-radius: 0 0 6px 6px;">
            <div class="detail-product">{{item['product_name']}}</div>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-card>
-->
  <div style="color: #3a3a3a; font-size: 14.8px;" class=" anim-fadeInRight_2">
    <ion-icon ios="ios-square" md="md-square"></ion-icon> สินค้าแนะนำ
  </div>
<!--
  <ion-card class="promotion-card anim-fadeInRight_2" (click)="ORDERMENU_CLICK()">
    <ion-row>
      <ion-col col-4 *ngFor="let item of items_bestseller; let i = index">
        <ng-container *ngIf="i < 3">
          <div style="position: absolute; z-index: -9; width: 100%; text-align: center;">
            <div class="loader loader--style8" title="7" style="padding-top: 4vh;">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
                xml:space="preserve">
                <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                  <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                    repeatCount="indefinite" />
                  <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                    repeatCount="indefinite" />
                  <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
                  <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                    repeatCount="indefinite" />
                  <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                    repeatCount="indefinite" />
                  <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                    repeatCount="indefinite" />
                </rect>
                <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
                  <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                    repeatCount="indefinite" />
                  <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                    repeatCount="indefinite" />
                  <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                </rect>
              </svg>
            </div>
          </div>
          <img style="border-radius: 6px; height: 13vh;" class="best-img" [src]="item['product_image']">
          <div text-wrap class="best-text">{{item['product_name']}}</div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-card>
-->
<ion-card class="promotion-card anim-fadeInRight_2" *ngFor="let t of items_bestseller;">
  <ion-row>
    <ion-col col-4 *ngFor="let item of t;">
      <ng-container>
        <div (click)="SELECT_ITEM_CLICK(item)">
        <div style="position: absolute; z-index: -9; width: 100%; text-align: center;">
          <div class="loader loader--style8" title="7" style="padding-top: 4vh;">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
              xml:space="preserve">
              <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                  repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                  repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
              </rect>
              <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                  repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                  repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                  repeatCount="indefinite" />
              </rect>
              <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                  repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                  repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
              </rect>
            </svg>
          </div>
        </div>
        <div class="item-ribbon">
          <span class="ribbon recommend">
            <span>RECOMMEND</span>
          </span>
        <img style="border-radius: 6px; height: 13vh;" class="best-img" [src]="item['product_image']">
        
        </div>
        <div text-wrap class="best-text">{{item['product_name']}}</div>
        </div>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-card>
  <div style="color: #3a3a3a; font-size: 14.8px;" class=" anim-fadeInRight_2">
    <ion-icon ios="ios-square" md="md-square"></ion-icon> สินค้าโปรโมชั่น
  </div>
  <ion-card class="promotion-card anim-fadeInRight_2" *ngFor="let t of item_promotion;">
      <ion-row>
        <ion-col col-4 *ngFor="let item of t;">
          <ng-container>
            <div (click)="SELECT_ITEM_CLICK(item)">
            <div style="position: absolute; z-index: -9; width: 100%; text-align: center;">
              <div class="loader loader--style8" title="7" style="padding-top: 4vh;">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
                  xml:space="preserve">
                  <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                  </rect>
                  <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                      repeatCount="indefinite" />
                  </rect>
                  <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                      repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                  </rect>
                </svg>
              </div>
            </div>
            <div class="item-ribbon">
              <span class="ribbon promotion">
                <span>SALES</span>
              </span>
            <img style="border-radius: 6px; height: 13vh;" class="best-img" [src]="item['product_image']">
            
            </div>
            <div text-wrap class="best-text">{{item['product_name']}}</div>
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
