page-main-menu {
  .bg-color {
    // background-color: #f7901f;
    background-color: white;
    font-family: 'Kanit', sans-serif;
  }
  .img-button-row {
    width: 100%;
    display: table;
    white-space: nowrap;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;

  }
  .img-button {
    color: #f7901f;
    font-size: 28px;
    max-width: 100%;
    vertical-align: middle;
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }
  .notification-badge {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .notification-button {
    position: relative;
  }
  .notif-badge {
    position: relative;
  }
  .banner {
    border-radius: 6px; 
    height: 100px;
  }
  
  .card {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
  }

  .header-button {
    font-size: 30px;
  }
  .best-text {
    font-size: 12px;
    text-align: center;
  }
  .seeall-text {
    font-size: 13px;
    color: rgb(148, 148, 148);
  }
  .date-text {
    font-size: 16px;
    color: rgb(104, 193, 253);
  }
  .head-text {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
  .button-text {
    // color: #f58240;
    color: #f7901f;
    font-size: 8px;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    padding: 0px;
  }
  .best-img {
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .promo-img {
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  // New Version
  .promotion-card {
    padding: 0px;
    border-radius: 6px;
    background: #231f20;
    color: #fff;
  }
  .promotion-grid {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .promotion-list {
    position: relative;
  }
  .promotion-image {
    padding: 5px;
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .promotion-description {
    padding: 5px;
  }
  .center-ion-col {
    display: flex;
    justify-content: center;
  }
  .center-ion-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .detail-product{
    color: #fff; 
    font-size: 12px; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 11px;
    width: 100%;
  }
  .swiper-pagination-bullet-active {
    background: #f7901f;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f7901f;
    opacity: 1;
}
svg path,
svg rect{
  fill: #f1ad62;
}
}
.notif-badge-number {
  position: absolute;
  top: -8px;
  right: 18px;
  font-size: 0.4em;
  background: rgb(255, 255, 255) !important; 
  color: #f7901f !important;
  width: auto;
  height: 22px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
}