page-main-menu-profile-credit-card {
  .bg-color {
    background-color: #e0dee1;
  }
  .fab-color {
    color: white;
    // background-color: #f58240;
    background-color: #231f20;
    font-size: 20px;
  }
  .bt-image {
    height: 40px;
    width: 40px;
  }
  .pop-in {
    animation: pop-in 0.65s;
  }
  .card-image {
    height: 50px;
    width: 100px;
  }
  @keyframes pop-in {
    0% {
      transform: scale(0);
    }
    45% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  .list {
    background-color: white;
    border-radius: 15px;
    margin: 5px;
    margin-top: 11px;
  }
  .head-text {
    color: gray;
    font-size: 10px;
  }
  .desc-text {
    font-size: 10px;
  }
}
