<ion-header no-border no-lines no-shadow>

  <ion-navbar>
    <ion-title>บัตรเครดิต</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">

  <ion-fab bottom right>
    <button ion-fab class="pop-in fab-color" (click)="ADD_CLICK()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list class="list" *ngFor="let item of credit_info">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-row>
            <img class="card-image" src="assets/imgs//visa.png">
          </ion-row>
          <ion-row>
            <ion-col col-5>
              <ion-row>
                <ion-label class="head-text">CARD NUMBER</ion-label>
              </ion-row>
              <ion-row>
                <ion-label class="head-text">CARD EXPIRATION</ion-label>
              </ion-row>
            </ion-col>
            <ion-col col-7>
              <ion-row>
                <ion-label class="desc-text">: {{item['card_number']}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-label class="desc-text">: {{item['card_expiration']}}</ion-label>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-2>
          <img class="bt-image" src="assets/imgs/editaddicon.png" (click)="EDIT_CLICK(item)">
          <img class="bt-image" src="assets/imgs/deleteicon.png" (click)="DEL_CLICK(item)">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>