<ion-header no-border no-lines no-shadow>

  <ion-navbar>
    <ion-title>ยืนยันการสั่งซื้อสินค้า</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg">
  
  <div class="box-details" style="margin-bottom: 11px;">
    <ion-row no-padding>
      <ion-col col-4 class="center-img-col">
        <ion-row class="center-img-row">
          <div class="image-div">
            <img style="border-radius: 6px;" class="product-img" [src]="data['product_image']" onError="this.src='assets/imgs/imgicon.png';">
          </div>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row no-padding>
          <ion-label text-wrap no-margin>{{data['product_name']}}</ion-label>
        </ion-row>
        <ion-row no-padding>
          <ion-label text-wrap no-margin>จำนวน {{data['amount']}} </ion-label>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row no-padding>
          <ion-label style="font-size: 22px;" text-wrap no-margin class="right-text">{{data['price']['total_price']}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  
  <ion-label style="font-size: 18px;">กรุณาเลือกช่องทางการจัดส่ง</ion-label>
  <div class="select">
    
    <ion-row radio-group [(ngModel)]="delivery_selected_item" (ionChange)="onChange($event)">
      <ion-item no-lines *ngFor="let item of shipping; let i = index">
        <ion-radio item-left [value]="i"></ion-radio>
        <ion-label text-wrap>{{item['name']}}</ion-label>
      </ion-item>
    </ion-row>

    <ion-row no-padding>
      <ion-label no-margin item-start>ค่าจัดส่ง</ion-label>
      <ion-label no-margin item-end class="right-text">{{delivery_cost}} บาท</ion-label>
    </ion-row>
    
  </div>
  
  <ion-row *ngIf="data.length !== 0" class="total-background">
    <ion-label item-start>ยอดรวม</ion-label>
    <ion-label item-end class="right-text">{{total}}</ion-label>
  </ion-row>

  <ion-row no-padding class="address" *ngIf="page_flag === 1">
    <ion-col col-3>
      <ion-row>
        <ion-label class="head-text">NAME</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">ADDRESS</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">PROVINCE</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">ZIPCODE</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="head-text">TEL.</ion-label>
      </ion-row>
    </ion-col>
    <ion-col col-7>
      <ion-row>
        <ion-label class="desc-text">{{address['fname']}} {{address['lname']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{address['address']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{address['province']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{address['zipcode']}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="desc-text">{{address['telephone']}}.</ion-label>
      </ion-row>
    </ion-col>
    <ion-col col-2>
      <ion-row>
        <img class="bt-image" src="../../../../assets/imgs/deleteicon.png" (click)="CHANGE_ADDRESS_CLICK(item)">
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer no-border no-lines no-shadow (click)="ADDRESS_CLICK()" *ngIf="page_flag === 0">
  <ion-toolbar color="dark">
    <ion-title text-center>
      <ion-icon name="add-circle"></ion-icon>
      เลือกที่อยู่จัดส่ง
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer no-border no-lines no-shadow (click)="PURCHASE_CLICK()" *ngIf="page_flag === 1">
  <ion-toolbar color="dark">
    <ion-title text-center>
      <ion-icon name="checkmark-circle"></ion-icon>
      ชำระเงิน
    </ion-title>
  </ion-toolbar>
</ion-footer>