<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>แก้ไขที่อยู่จัดส่ง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
    <div class="details-box">
  <form [formGroup]="credentialsForm">
    <ion-item class="transparent">
      <ion-label floating>ชื่อ</ion-label>
      <ion-input [formControl]="credentialsForm.controls['fname']" type="text"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>นามสกุล</ion-label>
      <ion-input [formControl]="credentialsForm.controls['lname']" type="text"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>ที่อยู่</ion-label>
      <ion-input [formControl]="credentialsForm.controls['address']" type="text"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>เมือง</ion-label>
      <ion-input [formControl]="credentialsForm.controls['city']" type="text"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>จังหวัด</ion-label>
      <ion-input [formControl]="credentialsForm.controls['province']" type="text"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>รหัสไปรษณีย์</ion-label>
      <ion-input [formControl]="credentialsForm.controls['zipcode']" type="text"></ion-input>
    </ion-item>
    <ion-item class="transparent">
      <ion-label floating>เบอร์ติดต่อ</ion-label>
      <ion-input [formControl]="credentialsForm.controls['telephone']" type="text"></ion-input>
    </ion-item>
  </form>
  </div>
</ion-content>

<ion-footer no-border no-lines no-shadow (click)="UPDATE_CLICK()" *ngIf="credentialsForm.valid === true">
    <ion-toolbar color="dark">
      <ion-title text-center>
          <ion-icon name="checkmark-circle"></ion-icon> บันทึกข้อมูล
      </ion-title>
    </ion-toolbar>
  </ion-footer>