page-main-menu-profile-address-book-edit {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .transparent {
    background-color: transparent;
  }
  .footer-button {
    // background-color: #f58240;
    background-color: #f7901f;
  }
}
