<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear (click)="BACK_CLICK()">
        <ion-icon name="arrow-back" class="toolbar-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>โปรโมชัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <!--
  <ng-container *ngFor="let item of items">
    <ion-card class="card anim-fadeIn" >
      <ion-row no-padding>
        <ion-col col-5 class="img-col">
          <ion-row class="img-row">
            <img class="promo-img" [src]="item['image'][0]">
          </ion-row>
        </ion-col>
        <ion-col col-7>
          <ion-row no-padding>
            <ion-label no-margin class="head-text" text-wrap>{{item['topic']}}</ion-label>
          </ion-row>
          <ion-row no-padding>
            <ion-label no-margin text-wrap>{{item['detail']}}</ion-label>
          </ion-row>
          <ion-row no-padding align-items-stretch>
            <ion-col col-5>
              <ion-label class="date-text" text-wrap>{{item['date']}}</ion-label>
            </ion-col>
            <ion-col col-2>
              <ion-label class="seeall-text" (click)="DETAIL_CLICK(item)">
                เพิ่มเติม >>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>
  -->
  <!--
  <ion-card class="promotion-card" *ngFor="let item of items">
    <ion-grid class="promotion-grid" >
      <ion-row no-padding class="promotion-list">
        <ion-col col-4 class="promotion-image center-ion-col">
          <ion-row class="center-ion-row">
          </ion-row>
        </ion-col>
        <ion-col col-8 class="promotion-description">
          <ion-row no-padding>
          </ion-row>
          <ion-row no-padding>
          </ion-row>
          <ion-row no-padding align-items-stretch>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-card>
  -->
  <ion-card class="card" *ngFor="let item of items">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center col-4>
          <img [src]="item['image'][0]">
        </ion-col>
        <ion-col align-self-center col-8>
          <ion-label text-wrap class="head-text">{{item['topic']}}</ion-label>
          <ion-label text-wrap class="desc-text">{{item['detail_short']}}</ion-label>
        </ion-col>
      </ion-row>
      <div class="foot-div" text-right (click)="DETAIL_CLICK(item)">
        เพิ่มเติม >> <ion-icon name="arrow-dropright-circle"></ion-icon>
      </div>
    </ion-grid>
  </ion-card>
</ion-content>
