page-main-menu-promotion {
  .bg-color {
    background-color: color($colors, gray_background, base);
  }
  .card {
    width: 97%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 11px;
    box-shadow: none;
    border-radius: 11px;
    background: #231f20;
    img {
        border-radius: 9px;
    }
  }
  .head-text {
    // color: #f58240;
    color: #f7901f;
    font-weight: bold;
    font-size: 16px;
  }
  .desc-text {
    color: #fff;
    font-size: 13px;
  }
  .foot-div{
    color: #fff;
    padding: 9px;
    background: #231f20;
    border-radius: 0 0 9px 9px;
  }
  /*
  .stroke {
    text-decoration-line: line-through;
  }
  .sale {
    // color: #f58240;
    color: #f7901f;
  }
  // img {
  //   //padding: 10px;
  //   //height: 150px;
  //   width: 100%;
  //   height: auto;
  // }
  .card {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
  }
  // .date-text {
  //   font-size: 14px;
  //   color: rgb(104, 193, 253);
  // }
  // .head-text {
  //   font-size: 14px;
  //   color: black;
  //   font-weight: bold;
  // }
  .seeall-text {
    font-size: 14px;
    color: rgb(148, 148, 148);
  }
  ion-row {
    background: #231f20;
  }
  ion-item {
    background: #231f20;
  }
  .img-col {
    // position: absolute;
    display: flex;
    justify-content: center;
  }
  .img-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // New Version
  .promotion-card {
    padding: 0px;
    border-radius: 15px;
    color: #231f20;
    background: #231f20;
  }
  .promotion-grid {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .promotion-list {
    position: relative;
  }
  .promotion-image {
    padding: 5px;
    img {
      display: block;
      max-width: 100%;
    }
  }
  .promotion-description {
    padding: 5px;
  }
  .center-ion-col {
    display: flex;
    justify-content: center;
  }
  .center-ion-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .promotion-head {
    color: #f7901f;
    padding: 11px 11px 0 11px;
    font-size: 18px;
  }
  .promotion-detail {
    color: #fff;
    padding: 0 11px 0 11px;
  }
  .promotion-date {
    color: #f7901f;
    padding: 0 11px 11px 11px;
    width: 100%;
    text-align: right;
  }
  */

}
