page-login {
  $transparent-white: rgba(255, 255, 255, .6);
  ion-grid {
    border-color: rbga(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    //align-items: center;
    ion-row {
      margin: 2%;
    }
  }

  // ion-content {
  //   background-image: url('../assets/imgs/BLURBG.png');
  //   // background-color: #f58240;
  //   background-color: #f7901f;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }

  .font-header {
    font-size: 20px;
    // color: #f58240;
    color: #fff;
  }
  .draw-line {
    border: 1px solid black;
  }
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    // background: #f58240;
    background: #fff;
    top:50%;
    height: 1px;
    width: 70%;
    align-self: center;
    margin-bottom: 10px;
  }
  .white {
    background: #ffffff;
  }
  .fb-color {
    background-color: #3b5998;
  }
  .gg-color {
    background-color: #ffffff;
    // color: #f58240;
    color: #f7901f;
  }
  .span-text {
    color: white;
    align-items: center;
    text-align: center;
  }
  // Popup-menu
  .popup-menu-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 6px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    background-color: rgba(0, 0, 0, 0.849);
  }
  .popup-menu-overlay.in {
    opacity: 1;
    visibility: visible;
  }
  .popup-menu-toggle {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    z-index: 7;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .popup-menu-toggle:before {
    position: absolute;
    content: '\f3d8';
    font-family: 'Ionicons';
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    // color: #f58240;
    color: #f7901f;
    opacity: 1;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform-origin: 100% 100%;
    transform: 100% 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .popup-menu-toggle.out {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .popup-menu-toggle.out:before {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .popup-menu-panel {
    border-radius: 6.2% 6.2% 0 0;
    position: fixed;
    width: 100%;
    height: 50%;
    bottom: 0px;
    left: 0%;

    padding: 20px 20px;
    // background-color: #f58240;
    background-color: #f7901f;
    z-index: 8;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .popup-menu-panel .popup-menu-item {
    margin: auto;

    -webkit-box-flex: 1 0 30%;
    -webkit-flex: 1 0 30%;
    -moz-box-flex: 1 0 30%;
    -moz-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;

  }
  .popup-menu-panel .popup-menu-item i {
    margin: auto 0px 5px 0px;
    padding: 0px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
  }
  .popup-menu-panel .popup-menu-item span {
    padding: 0px;
    margin: 0px 0px auto 0px;
    //color: white;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 11px;
  }
  .popup-menu-panel .popup-menu-item:active i {
    color: gold;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .popup-menu-panel .popup-menu-item:active span {
    color: gold;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .popup-menu-panel.in {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .popup-menu-panel.in .popup-menu-item {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
}
.new-content{
  background-color: #f7901f;
  font-family: 'Kanit', sans-serif;
}