<ion-header>

</ion-header>


<ion-content padding class="new-content">
  <div style="width: 100%; text-align: center; margin-top: 28%;">
    <img width="80%" src="assets/imgs/logo-bsmart-customers.png">
  </div>
  <ion-grid>
    <ion-row>
      <ion-label text-left class="font-header">เข้าสู่ระบบ</ion-label>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #email_input text-left type="text" placeholder="อีเมล"></ion-input>
      </ion-item>
      <!---

      -->
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #password_input text-left type="password" placeholder="รหัสผ่าน"></ion-input>
      </ion-item>
      <!---
      <ion-item class="input-text" no-lines>
          <ion-input #password_input text-left type="password" placeholder="รหัสผ่าน" value="123456"></ion-input>
        </ion-item>
      -->
    </ion-row>
    <ion-row>
      <div (click)="LOGIN_CLICK()" style="color:#f7901f;" ion-button block class="input-text" icon-right color="dark">
        เข้าสู่ระบบ
        <ion-icon name='arrow-forward'></ion-icon>
      </div>
    </ion-row>
    <!--
    <ion-row>
      <button ion-button block icon-left round class="fb-color">
        <ion-icon name="logo-facebook"></ion-icon>
        Login with Facebook
      </button>
    </ion-row>
    <ion-row>
      <button ion-button block icon-left round class="gg-color input-text">
        <ion-icon name="logo-googleplus"></ion-icon>
        Login with Google
      </button>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="span-text">
          <span (click)="CREATEACCOUNT_CLICK()">Create an Account</span>
        </div>
      </ion-col>
    </ion-row>
    <div class="strike">
      <span></span>
    </div>
  -->
    <div class="popup-menu">
      <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="TOGGLEPOPUPMENU_CLICK()"></div>
      <div class="popup-menu-toggle" [ngClass]="{'out': openMenu}" (click)="TOGGLEPOPUPMENU_CLICK()"></div>
      <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
        <div class="popup-menu-item">
        </div>
        <div style="color:#fff;" ion-button block class="input-text fb-color" icon-right color="bsmart-withe">
            <ion-icon name="logo-facebook"></ion-icon>  
          เข้าสู่ระบบด้วย Facebook
          <ion-icon name='arrow-forward'></ion-icon>
        </div>
        <!---
        <div  style="color:#f7901f;" ion-button block class="input-text" icon-right color="bsmart-withe">
            <ion-icon name="logo-googleplus"></ion-icon>
          เข้าสู่ระบบด้วย Google
          <ion-icon name='arrow-forward'></ion-icon>
        </div>
        -->
        <div class="popup-menu-item">
          <div class="span-text white-text">
            <span (click)="CREATEACCOUNT_CLICK()">สมัครใช้งาน B-SMART Mobile App</span>
          </div>
        </div>
        <div class="popup-menu-item">
          <div class="strike white">
            <span></span>
          </div>
        </div>
      </div>
    </div>

  </ion-grid>
</ion-content>
