page-register {
  $transparent-white: rgba(255, 255, 255, .6);
  ion-grid {
    border-color: rbga(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    //align-items: center;
    ion-row {
      margin: 2%;
    }
  }
  ion-label {
    font-size: 20px;
  }
  ion-content {
    // background-image: color('../assets/imgs/BLURBG.png');
    // background-color: #f58240;
    background-color: #f7901f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .font-header {
    font-size: 20px;
    // color: #f58240;
    color: #f7901f;
  }
  .draw-line {
    border: 1px solid black;
  }
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    // background: #f58240;
    background: #f7901f;
    top:50%;
    height: 1px;
    width: 70%;
    align-self: center;
    margin-bottom: 10px;
  }
  .white {
    background: #ffffff;
  }
  .fb-color {
    background-color: #3b5998;
  }
  .gg-color {
    background-color: #ffffff;
    // color: #f58240;
    color: #f7901f;
  }
  .span-text {
    color: white;
    align-items: center;
    text-align: center;
  }
}
