<ion-header no-border no-lines no-shadow>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="new-content">
  <ion-grid>
    <ion-row>
      <ion-label text-center style="color: #fff;" class="font-header">ลงทะเบียนใช้งาน</ion-label>
    </ion-row>
    <div class="strike">
      <span></span>
    </div>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #email_input text-left type="text" placeholder="อีเมล" value=""></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #password_input text-left type="password" placeholder="รหัสผ่าน" value=""></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #confirmpass_input text-left type="password" placeholder="ยืนยันรหัสผ่าน" value=""></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <button ion-button block class="input-text" (click)="REGISTER_CLICK()" color="bsmart-withe">ลงทะเบียน</button>
    </ion-row>

    <!--
    <div class="popup-menu">
      <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="TOGGLEPOPUPMENU_CLICK()"></div>
      <div class="popup-menu-toggle" [ngClass]="{'out': openMenu}" (click)="TOGGLEPOPUPMENU_CLICK()"></div>
      <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
        <div class="popup-menu-item">
          <button ion-button block icon-left round class="fb-color" (click)="FACEBOOK_CLICK()">
            <ion-icon name="logo-facebook" ></ion-icon>
            Login with Facebook
          </button>
        </div>
        <div class="popup-menu-item">
          <button ion-button block icon-left round class="gg-color input-text">
            <ion-icon name="logo-googleplus"></ion-icon>
            Login with Google
          </button>
        </div>
      </div>
    </div>
  -->
  </ion-grid>
</ion-content>
