<ion-header no-border no-lines no-shadow>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear class="header-button" (click)="BACK_CLICK()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ติดตาม</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="category" (ionChange)="onTabChanged($event)">
      <ion-segment-button value="instock">
        <a style="font-family: 'Kanit', sans-serif; color: white;"
          >สินค้าพร้อมส่ง</a
        >
      </ion-segment-button>
      <ion-segment-button value="preorder">
        <a style="font-family: 'Kanit', sans-serif; color: white;"
          >พรีออเดอร์/สั่งผลิต</a
        >
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  <!--
  <ion-list no-padding>
    <ng-container *ngFor="let item of items; let i = index">
        <div class="box-details-dark">
      <ion-item class="transparent anim-fadeInRight_{{i}}" *ngIf="(item['status_type'] !== 0 )">
        <ion-grid no-padding (click)="ORDERDETAIL_CLICK(item)">
          <ion-row>
            <ion-col col-8>
              <ion-row>
                <ion-col class="title-text">
                  Status
                </ion-col>
                <ion-col col-8 class="desc-text">
                  {{item['order_status_text']}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="title-text">
                  Order No.
                </ion-col>
                <ion-col col-8 class="desc-text">
                  {{item['order_id']}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="title-text">
                  Date
                </ion-col>
                <ion-col col-8 class="desc-text">
                  {{item['timestamp']['purchase_time']}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="title-text">
                  Total
                </ion-col>
                <ion-col col-8 class="desc-text">
                  {{item['price']['total_price']}}
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
    <br>
    </ng-container>
  </ion-list>
  -->
  <!--
  <ion-list no-padding>
    <ng-container *ngFor="let item of items">
      <div class="head-div" (click)="ORDERDETAIL_CLICK(item)">
        <div class="transparent anim-fadeIn" *ngIf="item['order_status'] != 1">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-12>
                <ion-row>
                  <ion-col class="title-text">
                    Status
                  </ion-col>
                  <ion-col col-8 class="desc-text">
                    {{item['order_status_text']}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="title-text">
                    Order No.
                  </ion-col>
                  <ion-col col-8 class="desc-text">
                    {{item['order_id']}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="title-text">
                    Date
                  </ion-col>
                  <ion-col col-8 class="desc-text">
                    {{item['timestamp']['purchase_time']}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="title-text">
                    Total
                  </ion-col>
                  <ion-col col-8 class="desc-text">
                    {{item['price']['total_price']}}
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div class="foot-div" text-right (click)="ORDERDETAIL_CLICK(item)">
        รายละเอียด <ion-icon name="arrow-dropright-circle"></ion-icon>
      </div>
      <br>
    </ng-container>
  </ion-list>
  -->
  <div
    swipeSegment1
    [tabsList]="categories"
    [(currentTab)]="category"
    class="swipe-area"
  >
    <div *ngIf="category === 'instock'">
      <ng-container *ngFor="let item of items">
        <div class="head-div" (click)="ORDERDETAIL_CLICK(item, 'instock')">
          <div
            class="transparent anim-fadeIn"
            *ngIf="item['order_status'] != 1"
          >
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-12>
                  <ion-row>
                    <ion-col class="title-text">
                      Status
                    </ion-col>
                    <ion-col col-8 class="desc-text">
                      {{ item["order_status_text"] }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="title-text">
                      Order No.
                    </ion-col>
                    <ion-col col-8 class="desc-text">
                      {{ item["order_id"] }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="title-text">
                      Date
                    </ion-col>
                    <ion-col col-8 class="desc-text">
                      {{ item["timestamp"]["purchase_time"] }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="title-text">
                      Total
                    </ion-col>
                    <ion-col col-8 class="desc-text">
                      {{ item["price"]["total_price"] }}
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <div class="foot-div" text-right (click)="ORDERDETAIL_CLICK(item, 'instock')">
          รายละเอียด <ion-icon name="arrow-dropright-circle"></ion-icon>
        </div>
        <br />
      </ng-container>
    </div>
    <div *ngIf="category === 'preorder'">
      <ng-container *ngFor="let item of items_preorder">
        <div class="head-div" (click)="ORDERDETAIL_CLICK(item, 'preorder')">
          <div
            class="transparent anim-fadeIn"
            *ngIf="item['order_status'] != 1"
          >
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-12>
                  <ion-row>
                    <ion-col class="title-text">
                      Status
                    </ion-col>
                    <ion-col col-8 class="desc-text">
                      {{ item["order_status_text"] }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="title-text">
                      Order No.
                    </ion-col>
                    <ion-col col-8 class="desc-text">
                      {{ item["order_id"] }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="title-text">
                      Date
                    </ion-col>
                    <ion-col col-8 class="desc-text">
                      {{ item["timestamp"]["order_time"] }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="title-text">
                      Total
                    </ion-col>
                    <ion-col col-8 class="desc-text">
                      {{ item['order_list']["product_price"] }}
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <div class="foot-div" text-right (click)="ORDERDETAIL_CLICK(item, 'preorder')">
          รายละเอียด <ion-icon name="arrow-dropright-circle"></ion-icon>
        </div>
        <br />
      </ng-container>
    </div>
  </div>
</ion-content>
