page-main-menu-order-tracking {
    .bg-color {
        background-color: color($colors, gray_background, base);
    }
    .transparent {
        background-color: transparent;
    }
    .title-text {
        font-size: 14px;
        color: #f7901f;
    }
    .desc-text {
        font-size: 14px;
        // color: black;
    }
    .image-product {
      //width: 100px;
      // height: 100px;
      max-width: 150px;
      width: 80%;
      max-height: 100px;
      height: auto;
      background-color: white;
      border: 1px solid gray;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .icon-col {
      // color: #f58240;
      color: #f7901f;

      max-width: 150px;
      width: 80%;
      max-height: 100px;
      height: auto;
    }
    .center-img-col {
      display: flex;
      justify-content: center;
    }
    .center-img-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .arrow-color {
      // color: #f58240;
      color: #f7901f;
    }
    ion-segment {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      background: #231f20;

      ion-segment-button.segment-button.segment-activated {
        border-color: white !important;
      }
    }

}
.box-details-dark {
  background: #231f20;
  color: #fff;
  padding: 12px;
  border-radius: 14px;
}